<div>
			Video: <select  id="camera"></select>
		</div>	
		<p><button id="takeProfilePicture" type="button" autofocus="true">Create profile pic</button></p>
		<video id="videoTag" autoplay></video>
		<canvas id="profilePicCanvas" style="display:none;"></canvas>

		<div>
			<img id="profilePicOutput">
		</div>