{{#if displayWebcam}}
	{{#ember-webcam
	didSnap=(action 'didSnap')
	didError=(action 'didError')
	class="webcam-camera"
	as |camera|}}
	<button {{action camera.snap}} class="click-snapshot">
		Click
	</button>
	<button {{action "closeOverlay"}} class="click-snapshot">Cancel</button>
	{{/ember-webcam}}
{{/if}}	