{{#if displayWebcam}}
  <video autoplay id="video"></video>
{{/if}}
<div class="row">
  <div class="small-2 columns">
    <button {{action "changeCamera"}}>
      <i>{{fa-icon 'sync-alt'}}</i>
    </button>  
  </div>
  <div class="small-5 columns">
    <button {{action "closeOverlay"}} style="width: 100%;">Cancel</button>
  </div>
  <div class="small-5 columns">
    <button {{action "snap"}} style="width: 100%;">Click</button>
  </div>
</div>

<canvas class="is-hidden" id="canvas"></canvas>


