{{#if isCancel}}
  <div {{action 'deleteOrder' }} class="right-small cancel-order">
    Cancel
  </div>
{{else}}
  <div {{action "deleteOrder"}} class="back" class="cancel-button-outer">
    <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
    <span class="back_text">
      Cancel
    </span>
  </div>
{{/if}}
