<div class="columns small-3">{{t "donation.title"}}</div>
<div class="{{if isMobileApp 'small-7 large-8' 'small-9'}} columns donation-field">
  {{donation-inline-input id=(concat 'cas' item.id) name="case_number" type="text"
   class=(if noCss "inline-text-input-withbg"  "inline-input donation-input") value=caseNumber item=item displayScanner=displayScanner}}
</div>
{{#if displayScanner}}
  <div class="small-2 large-1 columns scan-icon donation-scanner">
     {{partial 'components/barcode-scanner'}}
  </div>
{{/if}}
