<div class="small-6 columns">
  <button id="order-state-filter" {{action "redirectTofilters" "applyStateFilter"}} class="button expand filter-button-css">State</button>
</div>
<div class="small-6 columns">
  <button id="order-type-filter" {{action "redirectTofilters" "applyTypeFilter"}} class="button expand filter-button-css">Type</button>
</div>
