{{input type="checkbox" name=name.state id=name.state checked=name.enabled}}
<label class="radio-button-text" for={{name.state}}>
  <span class="type">{{t (concat "item_filters." name.state)}}</span>
</label>
{{fa-icon (type-filter-icon name.state)}}
