{{input type="checkbox" name=name id=name}}
<label class="radio-button-text" for={{name}}>
  <span class="type">{{t (concat "item_filters." name)}}</span>
</label>
{{!-- <span><i class="small-1 medium-1 large-1 columns">{{fa-icon (type-filter-icon name)}}</i></span> --}}