<div class="filter-buttons">
  <div class="small-6 columns">
    <button id="item-state-filter" {{action "redirectTofilters" "applyStateFilter"}} class="button expand filter-button-css">State</button>
  </div>
  <div class="small-6 columns">
    <button id="item-location-filter" {{action "redirectTofilters" "applyLocationFilter"}} class="button expand filter-button-css">Location</button>
  </div>
</div>
