{{input type="checkbox" name=name id=name}}
<label class="radio-button-text" for={{name}}>
  <span class="type">{{t (concat "item_filters." name)}}</span>
</label>
<i>{{fa-icon (type-filter-icon name)}}</i>