.remove-request{
  margin-top: 2rem;
  padding-left: 1rem;
}

.request-section {
  label{
    @media #{$small-only}{
      font-size: 0.8rem;
    }
  }
  .request-more{
    @media #{$small-only}{
      width: 64% !important;
    }
  }

  .request-type{
    pointer-events: none;
  }

  .req-description input {
    margin-top: 0.1rem;
  }
  div .warning_empty{
    @media #{$small-only} {
      width: 81%;
      margin-left: 1%;
    }
    @media #{$large-only} {
      width: 82%;
      margin-left: 0.7%;
    }

    @media #{$medium-only} {
      width: 82% !important;
      margin-left: 0.8% !important;
    }
    margin-top: -1rem;
  }
}

.add-request, .req-description{
  margin-top: 1rem;
  .add-quantity, .add-description {
    padding: 0 .5rem !important;
    background: #002352!important;
    border: 1px solid #fff!important;
    color: #fff !important;
    height: 2.7rem!important;
  }

  .select-goods {
    padding: 0.5rem !important;
    background: $dark-blue !important;
    border: 1px solid $white !important;
    color: $white !important;
    height: 2.7rem!important;

    @media #{$small-only} {
      padding-top: 0.7rem !important;
    }
  }
}

.request-add-remove-section{
  margin-top: 1rem;
  .remove-request{
    color: #f34d4f;
  }
  .request-section{
    border-bottom: 1px solid;
  }
}
.request-section .add-request .remove-request-click{
  cursor: pointer;
}

.req-more-goods div.link-blue, .req-more-goods div.icon-center{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #f34d4f;
  @media #{$small-only}{
    margin-left: 1rem;
  }
}

.cancel-icon {
  margin-top: 5vw;
}

.request_empty_error{
  background-color: $coral-red;
  color:$white;
  margin-top:-1.5rem !important;
  width: 81%;
  margin-left: 0.5rem;

  @media #{$small-only}{
    width: 79%;
  }
}

.error-reason-margin{
  margin-left: 0.7rem;
}
