.donations > svg {
    font-size: 180%;
    margin-top: 5%;
  }

  .delete-offer {
    float: right;
    padding-right: 5%;
    padding-top: 5%;
    background-color: #466082;
    padding-left: 8%;
    padding-bottom: 4%;
    color: white;
  }

  .offer-detail {
    display: inline-block;
    margin-left: 10%;
    margin-top: 3%;
    color: white;
    font-size: 0.8rem;
  }

  .offer-tag {
    display: inline-block;
    width: 120px;
    border: 1px solid #466082;
    height: 30px;
    border-radius: 10%;
    margin-left: 2%;
  }