.package-summary-block {
  
  .no-events {
    pointer-events: none;
  }

  .row {
    max-width: 768px;
    min-height: auto;
    padding: 0 1rem;

    .heading {
      text-align: left;
      padding: 2rem 0;
      font-size: 1rem;
      color: $white;
    }

    .bottom-header {
      margin-bottom: 1.5rem;

      .tab-container {
        display: flex;
        align-items: center;

        .tab {
          border: 1px solid $black;
          text-align: center;
          color: $white;
          background-color: #002353;
          font-size: 0.8rem;

          svg {
            color: $white;
          }
        }

        .small {
          width: 22%;
        }

        .large {
          width: 38%;
        }

        .end {
          display: flex;
          align-items: center;
          justify-content: space-around;

          .sub-tabs {
            width: 33.33%;

            &:first-child {
              background-color: #021C42;
            }

            &:nth-child(2) {
              background-color: #334F74;
            }

            &:last-child {
              background-color: #438bca;
            }

          }
        }
      }

      .item-summary {
        display: flex;
        max-height: 120px;

        .content {
          color: $white;
          border-left: 2px solid $black;
          border-bottom: 2px solid $black;

          &:last-child {
            border-right: 2px solid $black;
          }
        }

        .item-img {
          width: 22%;

          .image-zoom-container {
            height: 100%;
            div { height: 100% }
          }

          img {
            width: 100%;
            height: 100%;
            max-height: 120px;
            object-fit: cover;
          }
        }

        .item-description {
          background-color: #002353;
          width: 76%;
          text-align: left;
          padding: 0.5rem;
        }
      }
    }

    .main-header {
      color: $white;
      text-align: left;

      .available {
        font-size: 1rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }

  .items-table-heading {
    .inner-wrapper {
      border-top: 1px solid $light-text-color;
      border-bottom: 1px solid $light-text-color;
      overflow: auto;
      padding: 0.4rem;
      display: flex;
      align-items: center;
      text-align: left;
    }
  }

  .location-wrap {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    margin-left: 0;

    @media #{$small-only} {
      height: 52vh;
    }

    @media #{$large-only} {
      height: 40vh;
    }

    @media #{$medium-only} {
      height: 45vh;
    }

    overflow: scroll;

    .items-table-content {
      display: flex;
      align-items: center;
      text-align: left;
      margin: 0.5rem 0;

      input {
        max-height: 35px;
        margin-bottom: 0;
      }
    }
  }

  .button {
    width: 45%;
    padding: 0.5rem 0;
  }
}
