//
// Generic drawer that slides from the right
//
.cmp.side-drawer {
  height: 6em;
  line-height: 6em;
  width: 2em;
  position: relative;

  &.small {
    height: 3rem;
    line-height: 3em;
    .arrow-icon-holder {
      padding-left: 0.5rem;
    }
  }

  &.hidden {
    .arrow-icon-holder {
      pointer-events: none;
      visibility: hidden;
    }
  }

  .arrow-icon-holder {
    font-size: 2rem;
    padding-left: 1.5rem;
  }

  .content-wrapper {
    position: absolute;
    right: 2em;
    top: 0;
    overflow: hidden;
    pointer-events: none;

    .content {
      transition: transform 0.1s ease-in;

      &.closed {
        transform: translateX(100%);
      }

      &.open {
        transform: translateX(0%);
        pointer-events: all;
      }
    }
  }
}