<div class="cmp orders search-overlay">
  {{#popup-overlay open=open}}
    <div class="main-container">
       {{camera-detect getImageCallback=getImageCallback}}
    </div>
  {{/popup-overlay}}  
</div>