<div class="designate-link">
  <div {{action 'beginDesignation' pkg order}}>
    {{yield}}
  </div>

  {{#if readyToDesignate}}
    {{goodcity/designate-form
      quantity=designationQty
      maxQuantity=designatableQuantity
      editableQty=editableQty
      confirmAction=(action "completeDesignation")
      cancelAction=(action "cancelDesignation")
      order=designationTargetOrder
      pkg=designationTargetPackage
    }}
  {{/if}}
</div>