<div class="designate-link">
  <div {{action 'beginDesignation' pkg}}>
    {{yield}}
  </div>

  {{#if readyToDesignate}}
    {{goodcity/designate-form
      designationTargetPackage=pkg
      readyToDesignate=readyToDesignate
    }}
  {{/if}}
</div>
