<div class="row block-header">
  <div class="columns small-1 action-icon">{{fa-icon (item-action-icon group.type) }}</div>
  <div class="columns small-3 action">{{group.type}}</div>
  <div class="columns small-4 user-name">{{group.user}}</div>
  <div class="columns small-3 display-day">{{group.date}}</div>
</div>