<div class="row">
  {{#each displayFields as |fields|}}
  <div class="small-6 columns input-field-container">
    <div class="row">
      <div class="small-12 columns item-label">
        {{fields.label}}
      </div>
      <div class="small-12 columns left">
        {{#form-control}}
        {{#if fields.autoComplete}}
        {{dropdown-search content=fields.name packageDetails=fetchPackageDetails}}
        {{else}}
        {{input name=fields.name type=fields.type value=(mut (get formElement fields.value)) }}
        {{/if}}
        {{/form-control}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
