<div class="row actions-list">
  <div class="columns small-1">{{fa-icon 'arrow-up' }}</div>
  <div class="columns small-3">{{action.quantity}}</div>
  <div class="columns small-3">from</div>
  <div class="columns small-3 user-name">{{action.location.name}}</div>
  <div class="columns small-1">{{display-time action.createdAt "HH:mm"}}</div>
</div>
