<div class="history">
  <div class="row">
    <div class="columns small-1 medium-1 large-1">
      {{#back-link fallbackRoute="items"}}
        <div class="item-page click-action-zone">
          <div class="back_link no-avatar">
            <i aria-hidden="true">{{fa-icon 'angle-left'}}</i>
          </div>
        </div>
      {{/back-link}}
    </div>
    <div class="columns small-11 medium-11 large-11 history-title">
      {{t "items.history"}}
    </div>
  </div>
  <div class="history-block">
    {{#if displayResults}}
      {{#infinite-list height="100vh" loadMore=(action "loadMoreActions") as |item_actions| }}
        {{#each-in item_actions.firstObject as |itemkey itemval|}}
            {{#each-in (group-by "action" itemval) as |actionName itemActions|}}
              <div class="action-block-parent">
                {{partial "items/item_action_block"}}
                {{#each itemActions as |action|}}
                  {{partial "items/edit_item_block"}}
                {{/each}}
              </div>
            {{/each-in}}
        {{/each-in}}
      {{/infinite-list}}
    {{/if}}
  </div>
</div>
