<div class="footer">
  <div class="navigation_menus">
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-3 list">
          {{#link-to 'items.detail' model tagName='li' href=false}}
            <i aria-hidden="true">{{fa-icon 'file-alt'}}</i> Details
          {{/link-to}}

          {{#link-to 'items.history' model tagName='li' href=false}}
            <li><i aria-hidden="true">{{fa-icon 'clock'}}</i>History</li>
          {{/link-to}}
          <li><i aria-hidden="true">{{fa-icon 'comments'}}</i>Staff</li>
        </ul>
      </div>
    </div>
  </div>
</div>
