.client-information {
  .type-of-id-text{
    margin-bottom: .2rem;
    margin-top: 1rem;
    color: white;
    font-size: 0.9rem;
    margin-top: 1rem;
    font-weight: 600;
    margin-left: -1%;
  }

  .confirm-page-title {
    color: white;
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }

  .id-confidential-text{
    font-size: 0.7rem;
    @media #{$large-only}{
      font-size: 0.9rem;
    }
  }

  .id-type-radio-input{
    .custom_radio_buttons {
      border: 1px solid;
      padding: .4rem;
      margin-top: 1rem;
      height: 2.7rem;
      input[type=radio] {
        margin: 0 0 0 0px;
        display: inline-block;
        margin-left: 10px;
        margin-top: 1.2% !important;
        position: absolute;
        width: 2em;
        height: 2em;
      }
      label {
        @media #{$small-only} {
          font-size: 0.6rem;
          margin-top: 0 !important;
        }
        font-size: 0.8rem !important;
        margin-top: 0.4rem !important;
        margin-left: 3rem;
      }
    }
  }
  .client-name-labels{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    label{
      font-size: .7rem;
    }
  }
  .client-name-inputs{
    padding-right: 0.8rem;

    .input-error {
      font-size: 0.8rem;

      @media #{$large-only}{
        margin-top: -2.5%;
      }

      @media #{$small-only}{
        margin-top: -5.5%;
      }

      @media #{$medium-only}{
        margin-top: -2.5%;
      }
    }
  }
}
div .hk-id{
  #hk-id-number, #hk-id-firstName, #hk-id-lastName {
    height: 2.7rem;
    padding: 0 0.5rem;
    width: 97%;
    background: #002352t;
    border: 1px solid $tabbar-menu-icon-color;
    color: white;
    height: 2.7rem !important;
    margin-bottom: 0;
  }

  .input-error {
    font-size: 0.8rem;
  }

  label{
    font-size: 1.8rem;
  }
  .hk-id-input{
    width: 25%
  }
  .x-with-brackets{
    font-size: 1.7rem;
  }
}

#title input{
  height: 2.7rem;
  padding: 0 0.5rem;
  width: 97%;
  background: #002352;
  border: 1px solid $tabbar-menu-icon-color;
  color: white;
  height: 2.7rem !important;
  margin-bottom: 1rem;
}

.add-request {
  margin-left: 0;
  margin-right: 0;
}

.detail_type {
  .input-error {
    width: 99% !important;
    font-size: 0.8rem;
  }
}

.client_title, .client_last_name, .client_first_name{
  label.select:after {
    content: none !important;
  }

  select, input{
    width: 3rem;
    height: 2.7rem;
    padding: 0 0.5rem;
    width: 97%;
    background: #002352;
    border: 1px solid $tabbar-menu-icon-color;
    color: white;
    height: 2.7rem !important;
    margin-bottom: 0;
  }

  input{
    margin-top: 0.3rem;
  }

  label{
    @media #{$small-only} {
      font-size: 0.8rem;
    }
  }
}

// .input-error {
//   background: #ED4C4E ;
//   color: white;
//   display: none;
//   padding: 0.2rem;
//   padding-bottom: 0.25rem !important;
// }

.goods_details{
  a.crossroads_email{
    text-decoration: underline;
  }
}

.request-add-remove-section{
  .req-more-goods .add_more_request {
    cursor: pointer;
  }
}
