.client-information {
  .type-of-id-text{
    margin-bottom: .2rem;
    margin-top: 1rem;
    color: white;
    font-size: 0.9rem;
    margin-top: 1rem;
    font-weight: 600;
  }

  .display-code-client >.display-package-code {
    color: $light-text-color !important;
  }

  .confirm-page-title {
    color: white;
  }

  #hk-id-number::-webkit-input-placeholder {
    text-align: center;
  }

  .id-confidential-text{
    font-size: 0.7rem;
    @media #{$large-only}{
      font-size: 0.9rem;
    }
  }

  .id-type-radio-input,
  .time_inputs {
    margin-left: 0;
    margin-right: 0;

    .custom_radio_buttons {
      border: 1px solid;
      padding: .4rem;
      margin-top: 1rem;
      height: 2.7rem;

      @media #{$small-only} {
        padding: .7rem;
      }

      input[type=radio] {
        margin: 0 0 0 0px;
        display: inline-block;
        margin-left: 10px;
        position: absolute;
        width: 2em;
        height: 2em;
      }
      label {
        font-size: 0.8rem !important;
        margin-top: 0.4rem !important;
        margin-left: 3rem;

        @media #{$small-only} {
          font-size: 0.7rem !important;
          margin-top: 0 !important;
          margin-left: 2rem;
        }
      }
    }
  }
  .client-name-labels{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    label{
      font-size: .7rem;
    }
  }
  .client-name-inputs{
    margin-left: 0;
    margin-right: 0;

    padding-right: 0.8rem;

    .input-error {
      font-size: 0.8rem;

      @media #{$large-only}{
        margin-top: -2.5%;
      }

      @media #{$small-only}{
        margin-top: -5.5%;
      }

      @media #{$medium-only}{
        margin-top: -2.5%;
      }
    }
  }
}

.name-details {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

div .hk-id{
  margin-left: 0 !important;
  margin-right: 0 !important;

  #hk-id-number, #hk-id-firstName, #hk-id-lastName {
    height: 2.7rem;
    padding: 0 0.5rem;
    width: 97%;
    background: #002352;
    border: 1px solid $tabbar-menu-icon-color;
    color: white;
    height: 2.7rem !important;
    margin-bottom: 0;
  }

  .input-error {
    font-size: 0.8rem;
  }

  label{
    font-size: 1.8rem;

    @media #{$small-only} {
      font-size: 1.3rem;
      line-height: 2.1;
    }
  }
  .hk-id-input{
    width: 25%
  }
  .x-with-brackets{
    font-size: 1.7rem;

    @media #{$small-only} {
      font-size: 1.3rem;
      line-height: 2;
      padding-left: 1rem;
    }
  }

  .rbcl_type {
    margin-left: 8%;
  }
}

.client-submit-button {
  margin-left: 0;
  margin-right: 0;
}

#title input{
  height: 2.7rem;
  padding: 0 0.5rem;
  width: 97%;
  background: #002352;
  border: 1px solid $tabbar-menu-icon-color;
  color: white;
  height: 2.7rem !important;
  margin-bottom: 1rem;
}

.add-request {
  margin-left: 0;
  margin-right: 0;
}

.detail_type {
  .input-error {
    width: 99% !important;
    font-size: 0.8rem;
  }
}

.client_title {
  @media #{$small-only} {
    padding: 0 !important;
  }
}

.client_title, .client_last_name, .client_first_name{
  label.select:after {
    content: none !important;
  }

  select, input{
    width: 3rem;
    height: 2.7rem;
    padding: 0 0.5rem;
    width: 97%;
    background: #002352;
    border: 1px solid $tabbar-menu-icon-color;
    color: white;
    height: 2.7rem !important;
    margin-bottom: 0;
  }

  input, select{
    margin-top: 0.3rem;
  }

  label{
    @media #{$small-only} {
      font-size: 0.8rem;
    }
  }

  select {
    @media #{$small-only} {
      font-size: 1rem;
    }
  }


}
.international-order-summary{

  .field-container {
    height:2rem;
  }
  .country{
    color :white;
    height: none;
  }

  .detail-code{
    color: white;
    padding-top: 0.25rem;
    position: absolute;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-right: 1px solid #8091a9;
    font-size: 1rem;
    height: 2rem;
    background-color: #1a3964;

    @media #{$small-only} {
      font-size: 0.8rem;
      padding-top: 0.45rem;
    }
  }

  .Searchable-select__search{
    background-color: #000000;
  }

  .field{
    margin-bottom: 0.5rem;
  }

  .Searchable-select__label {
    background-image: url(../assets/images/dropdown_icon.png);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-color: #1a3964 !important;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    font-size: 1rem;
    height:2rem;
    border: none !important;
    color: $white !important;

    @media #{$small-only} {
      font-size: 0.8rem;
      padding-top: 0.5rem;
    }

  }

  .Searchable-select__options-list {
    background-color: #000000;
  }
  .Searchable-select__info {
    background-color: #000000;
    @media #{$small-only} {
      font-size: 0.8rem;
    }
  }
  .Searchable-select__input {
    background-color: #1a3964 !important ;
    border: none;
    color: $white;
  }

  .Searchable-select__option:hover,
  .Searchable-select__option:focus {
    background-color: #454545;
    outline: 0;
  }

  .code-input{
    padding-left: 1.7rem;
  }

  .inline-edit-bg {
    height: 2rem;
    font-size: 1.0rem;
    color: $white !important;
    background-color: #1a3964 !important;
    border: none !important;
    margin: 0rem;
    margin-bottom: 0.4rem;

    @media #{$small-only} {
      font-size: 0.8rem;
    }
    select{
    background-color: #1a3964 !important;
    border: none !important;
    }
  }

}

.inline-error{
  margin-left: 0.1rem;
  background: $coral-red;
  margin-top: -0.5rem;
  color: $white;
}

.goods_details{
  a.crossroads_email{
    text-decoration: underline;
  }
}

.change-contact {
  cursor: pointer;
}

.request-add-remove-section{
  .req-more-goods .add_more_request {
    cursor: pointer;
  }
}
