.filter-buttons {
  line-height: 3rem;
  .filter-button-css, .filter-button-css:hover {
    border-radius: 10px;
    background-color: white;
    color: #8c8c8c;
    border: none;
    margin-bottom: 0.7rem !important;
    @media #{$small-only} {
      margin-bottom: 0.5rem !important;
    }
  }
}

.filter-button-border, .filter-button-border:hover {
  color: white !important;
  background-color: #8c8c8c !important;
}

.order-filters, .item-filters {
  margin-top: 1.5rem;
  .filter-btn, .filter-btn:hover {
    background-color: transparent;
    border-color: white;
    width: 75%;
    margin-left: 13%;
    font-size: 1rem !important;
  }

  .state-filter-block {
    .priority-order-icon {
      @media #{$small-only} {
        margin-right: 1.7rem !important;
      }
      @media #{$medium-only} {
        margin-right: 14.5rem !important;
      }
      @media #{$large-only} {
        margin-right: 22.5rem !important;
      }
    }

    i {
      padding-top: 0.1rem;
      color: white;
      font-size: 1.2rem;
      float: right;
      @media #{$small-only} {
        margin-right: 8.5rem !important;
      }
      @media #{$medium-only} {
        margin-right: 22.2rem;
      }
      @media #{$large-only} {
        margin-right: 29.2rem;
      }
    }
  }

  .type-filter-block {
    i {
      /*padding-top: 0.1rem;*/
      color: white;
      font-size: 1.2rem;
      float: right;
      @media #{$small-only} {
        margin-right: 5rem;
      }
      @media #{$medium-only} {
        margin-right: 18.2rem;
      }
      @media #{$large-only} {
        margin-right: 27.2rem;
      }
    }
  }

  .type-filter-block, .state-filter-block {
    padding: 1rem;
    margin-left: 6%;
    @media #{$small-only} {
      margin-left: -0.1rem !important;
    }
    .type {
      color: white;
      margin-left: 0.5rem;
    }
    .type-filter-title {
      margin: -0.5rem 0 1rem 0.4rem;
      font-size: 1rem;
    }
    .nested-type {
      margin-left: 1.8rem;
    }
    .checkbox {
      margin-bottom: 1rem;
      .type-info {
        margin-left: 2.3rem;
        font-size: 0.9rem;
      }
    }
  }
}

.publish-filter-title, .image-filter-title {
  font-size: 1rem;
  color: white;
  margin-bottom: 0.7rem;
}

.publish-filter-info, .image-filter-info {
  font-size: 1rem;
  @media #{$small-only} {
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }
  margin-bottom: 0.7rem;
}

.item-filter-radiobutton {
  label {
    @media #{$small-only} {
      font-size: 0.85rem;
      margin-top: -0.2rem;
    }
  }
  input[type="radio"] {
    display: inline;
  }

  .with_images {
    @media #{$small-only} {
      margin-left: -1rem;
    }
  }

  .no_images {
    @media #{$small-only} {
      margin-left: -1rem;
    }
  }

  input[type='radio']:checked {
    background-color: black;
  }

  #published {
    margin-left: -1rem;
  }

  input[type="radio"]:checked + label {
    background: none;
    border: none;
  }

  .type {
    margin-left: -0.5rem !important;
  }
}
