@mixin ellipsis() {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flex-controls() {
  .flex {
    display: flex;
    &.no-wrap {
      flex-wrap: nowrap;
    }
    &.wrap {
      flex-wrap: wrap;
    }
    &.space-around {
      justify-content: space-around;
    }
    &.space-between {
      justify-content: space-between;
    }
    &.space-evenly {
      justify-content: space-evenly;
    }
    &.center {
      justify-content: center;
    }
    &.end {
      justify-content: flex-end;
    }

    >.grow {
      flex-grow: 1;
    }

    &.gutter-small {
      >* { margin-right: 0.5rem; }
    }
  }
}
