.search-box {
  position: relative;
  padding: 0;
  background-color: $light-grey;
  z-index: 1000;

  input {
    padding-left: 0.5rem;
    width: 97.5%;
    margin: 0.5rem;
    border-radius: 0.25rem;

    @media #{$small-only} {
      width: 95%;
    }
  }

  i {
    position: absolute;
    right: 4%;
    top: 0.7rem;
    color: $black;
    font-size: 1.2rem;
    cursor: pointer;

    @media #{$small-only} {
      font-size: 1rem;
      top: 0.7rem;
    }
  }

  a {
    color: $medium-blue !important;
    text-decoration: underline;
    top: 0.6rem;
    margin-top: 0.6rem;
    right: 3%;
    font-size: 1.1rem;
    font-weight: bold;

    @media #{$small-only} {
      font-size: 0.8rem;
      top: 0.8rem;
    }
  }
}

.no_result {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 3rem;

  @media #{$small-only} {
    font-size: 0.9rem;
  }
}

.add_item_text {
  text-align: center;
  margin-top: 1rem;
}

.search {
  padding-bottom: 5rem;
  min-height: 25rem;
  // margin-top: 1.5rem;

  .columns {
    padding: 0;
  }

  .user_name {
    text-transform: capitalize;
    color: #ffffff;
    font-weight: bolder;
    font-size: 0.7rem;
    padding-left: 3%;
  }

  .user-mobile {
    margin-left: -35%;
    color: #ffffff;
  }

  .org_name {
    margin-left: 1vw;
    text-transform: capitalize;
    color: #8d9cb1;
    font-size: 0.7rem;
  }

  .list.list-activity {
    margin: 0 0.4rem;
    margin-top: 2.5rem;
    cursor: pointer;
  }

  .list.list-activity.menu-list {
    margin-top: -1.5rem;
    cursor: pointer;
  }

  .list-bottom {
    border-bottom: 0.1px solid #ffffff !important;
  }

  .new-user {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 0.1px solid #ffffff !important;
    padding-bottom: 3%;
    font-size: 0.6rem;
    padding-top: 0%;
  }

  li {
    padding: 0.8rem 1rem;

    @media #{$small-only} {
      font-size: 0.7rem;
    }

    .state_details {
      color: $white;
      font-weight: bold;
    }

    .prefered_contact_number {
      text-transform: capitalize;
    }

    .row {
      padding: 0.2rem 0;
    }
  }
}

.fixed_search_header {
  position: fixed;
  z-index: 1000;

  @media #{$medium-up} {
    -webkit-transform: translate(-50%, 0);
    left: 50%;
  }
}

.search-order {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  .back-button {
    .back {
      top: 0;
      margin-top: 0;
      @extend .search-order;

      .back_text {
        i {
          padding: 0;
          top: 0;
          @media #{$small-only} {
            font-size: 0.9rem;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }
    @media #{$small-only} {
      width: 30%;
    }
  }

  .search-wrapper {
    @media #{$small-only} {
      width: 70%;
    }
  }
}

.search-section {
  margin: 0 auto;
  max-width: 768px;

  .fixed_search_header_item {
    max-width: inherit;
    width: 100%;
    margin: inherit;

    .icon-holder {
      padding-top: 0.45rem;
    }

    .input-holder {
      float: left;

      input {
        margin-left: 0;
      }
    }
  }

  .row {
    margin: 0;
  }
}

// User Search Page
.organisations_search,
.users-search,
.orders-search {
  .back-link {
    margin-top: 0.5rem;
  }

  .back {
    margin-left: 0.8rem;
  }

  i {
    color: inherit;

    &.back_icon {
      position: inherit;
      vertical-align: middle;
    }
  }

  .back_text {
    display: inline-block;
    padding-left: 0.2rem;
    padding-top: 0.3rem;
  }
}

.user_search_result,
.organisation_search_result,
.search-users-for-orders {
  .search {
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 0;
    min-height: 30rem;
  }
}

.search-users-for-orders {
  .search {
    padding-top: 4rem;
  }
}
