<?xml version='1.0' encoding='utf-8'?>
<widget id="hk.goodcity.stockstaging" version="0.27.7" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>S. Stock</name>
    <description>
        GoodCity Stock Application
    </description>
    <author href="https://www.crossroads.org.hk">Crossroads</author>
    <content src="index.html" />
    <access origin="*" />
    <httpProtocol>
        <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
    </httpProtocol>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#002352" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <allow-intent href="http://*/*" launch-external="yes" />
    <allow-intent href="https://*/*" launch-external="yes" />
    <platform name="android">
        <preference name="GradlePluginKotlinVersion" value="1.7.21"/>
        <preference name="AndroidGradlePluginVersion" value="7.4.2" />
        <resource-file src="google-services.json" target="/app/google-services.json" />
        <resource-file src="res/android/notification.png" target="app/src/main/res/drawable/notification.png" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="LoadUrlTimeoutValue" value="120000" />
        <preference name="SplashScreenDelay" value="-1" />
        <preference name="Orientation" value="portrait" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="AndroidWindowSplashScreenBackground" value="#002352" />
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#002352" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/android/splashscreen-icon.png" />
        <icon density="ldpi" src="res/android/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="res/android/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="res/android/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="res/android/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/android/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/android/drawable-xxxhdpi/icon.png" />
    </platform>
    <platform name="ios">
        <preference name="SwiftVersion" value="5" />
        <preference name="deployment-target" value="13" />
        <preference name="Orientation" value="portrait" />
        <preference name="Fullscreen" value="true" />
        <icon height="16" src="res/ios/Icon-App-16x16@1x.png" width="16" />
        <icon height="32" src="res/ios/Icon-App-16x16@2x.png" width="32" />
        <icon height="48" src="res/ios/Icon-App-16x16@3x.png" width="48" />
        <icon height="20" src="res/ios/Icon-App-20x20@1x.png" width="20" />
        <icon height="40" src="res/ios/Icon-App-20x20@2x.png" width="40" />
        <icon height="60" src="res/ios/Icon-App-20x20@3x.png" width="60" />
        <icon height="55" src="res/ios/Icon-App-27.5x27.5@2x.png" width="55" />
        <icon height="29" src="res/ios/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="res/ios/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" src="res/ios/Icon-App-29x29@3x.png" width="87" />
        <icon height="32" src="res/ios/Icon-App-32x32@1x.png" width="32" />
        <icon height="64" src="res/ios/Icon-App-32x32@2x.png" width="64" />
        <icon height="40" src="res/ios/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="res/ios/Icon-App-40x40@2x.png" width="80" />
        <icon height="50" src="res/ios/Icon-App-50x50@1x.png" width="50" />
        <icon height="100" src="res/ios/Icon-App-50x50@2x.png" width="100" />
        <icon height="57" src="res/ios/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="res/ios/Icon-App-57x57@2x.png" width="114" />
        <icon height="60" src="res/ios/Icon-App-60x60@1x.png" width="60" />
        <icon height="120" src="res/ios/Icon-App-60x60@2x.png" width="120" />
        <icon height="180" src="res/ios/Icon-App-60x60@3x.png" width="180" />
        <icon height="72" src="res/ios/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" src="res/ios/Icon-App-72x72@2x.png" width="144" />
        <icon height="76" src="res/ios/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="res/ios/Icon-App-76x76@2x.png" width="152" />
        <icon height="167" src="res/ios/Icon-App-83.5x83.5@2x.png" width="167" />
        <icon height="256" src="res/ios/Icon-App-83.5x83.5@3x.png" width="256" />
        <icon height="172" src="res/ios/Icon-App-86x86@2x.png" width="172" />
        <icon height="88" src="res/ios/Icon-App-44x44@2x.png" width="88" />
        <icon height="98" src="res/ios/Icon-App-98x98@1x.png" width="98" />
        <icon height="196" src="res/ios/Icon-App-98x98@2x.png" width="196" />
        <icon height="1024" src="res/ios/Icon-App-1024.png" width="1024" />
        <splash src="res/ios/splash-screen@2x~universal~anyany.png" />
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>To enable you to read inventory barcodes and photograph inventory items.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>To enable you to select photographs of inventory items.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>Need location access to mark inventory images.</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>Needs photo library access to save photos</string>
        </edit-config>
    </platform>
    <universal-links>
        <host event="redirectToItem" name="stock-staging.goodcity.hk" scheme="https" />
        <host event="redirectToItem" name="stock.goodcity.hk" scheme="https" />
    </universal-links>
</widget>
