# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/documentation

.vscode
.idea

# dependencies
/node_modules
/bower_components

# fastlane
fastlane/*.json
fastlane/.byebug_history

# misc
/.sass-cache
/connect.lock
/coverage/*
coverage_*
/libpeerconnection.log
npm-debug.log
testem.log

# cordova
cordova/www
cordova/assets/www
cordova/platforms
cordova/plugins/*
cordova/.secret_keys
cordova/node_modules
cordova/google-services.json


# iOS
*.xcuserdatad

# code signing
*.mobileprovision
*.keystore
*.p12
*.p8

# fastlane
Preview.html
fastlane/report.xml
fastlane/*.json
