.quick-actions-page {
  $problem-red: #ff4353;
  $success-green: #6fab4a;
  $warning-yellow: #ffd43b;

  @include flex-controls();

  .tab-bar {
    margin-bottom: 0;
  }

  .button {
    &.light {
      border: 1px solid white;
      background-color: transparent;
    }
  }

  .tabs-container {
    border-bottom: 1px solid;
    margin-bottom: 2rem;
    text-align: center;

    .tab {
      @include ellipsis();
      padding: 0.7rem;
      font-size: 1rem;
      min-height: 3rem;

      &.selected {
        border-bottom: 2px solid;
      }

      &.dimmed {
        opacity: 0.6;
      }
    }
  }

  .scanner-hud {
    width: 100%;
    line-height: 0.9rem;
    opacity: 0.8;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    button {
      padding: 0.5rem 1rem;
    }
  }

  .scanner-overlay {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 30vh;
    background-color: black;
    padding: 0;

    .hide {
      display: none;
    }

    .scanner-preview {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: none;
      position: relative;

      &.show {
        display: block;
      }
    }
  }

  .scanner-error {
    background-color: #ff4353;
    color: white;
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
    max-width: 600px;
    margin: 0 auto;

    &.active {
      opacity: 1;
    }
  }

  .padded-x {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .padded {
    padding: 1rem;
  }
}
