.dispatch-form.package-actions-form {

  .order-preview {
    .row.gc-orders-package-block {
      margin: 5rem auto 1rem auto;
    }
  }

  .form-container {
    width: 90vw;
    max-width: 40rem;
    min-height: 10rem;
    background-color: $light-grey;
    margin: 0 auto;
    color: black;
    padding: 1.5rem;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-width: 0 1.5rem 1.5rem 0;
      border-style: solid;
      border-color: #27436C #002352;
    }

    .title {
      font-size: 2rem;
      text-transform: capitalize;
      padding-bottom: 0.5rem;
      border-bottom: 3px solid black;
    }

    .infos {
      >.info-row {
        display: flex;
        padding-left: 1rem;
        margin-top: 1rem;
        line-height: 2.5rem;

        svg {
          margin-right: 0.5rem;
        }

        .warn-text {
          color: red;
          margin-left: 1rem;
        }

        .qty-input {
          max-width: 4rem;
          display: inline-block;
          background-color: white;
        }

        >div {
          width: 10rem;

          &.value {
            font-family: $header-font-family;

            &.clickable {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;

    .button {
      width: 10rem;

      &.light {
        border: 1px solid white;
        background-color: transparent;
      }
    }
  }
}
