.item_details_screen .location-tab {
  $line-height: 2rem;
  $btn-height: $line-height;

  .light-button {
    border: 1px solid white;
    max-width: 16rem;
    height: $btn-height;
    line-height: $btn-height;
    text-align: center;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.disabled {
      text-decoration: line-through;
      opacity: 0.5;
      pointer-events: none;
    }

    &.centered {
      margin: 1rem auto;
    }

    &.small {
      max-width: 9rem;
    }
  }

  .row {
    line-height: $line-height;

    &.header-row {
      color: $body-font-color;
      border-bottom: 1px solid $body-font-color;
      padding-bottom: 1rem;
    }

    &.content-row {
      color: white;
      padding-top: $line-height;

      &.italic {
        font-style: italic;
        color: $body-font-color;
      }
    }
  }

  .popup-overlay.move-action {
    text-align: left;

    .reveal-modal {
      width: 70%;
      max-width: 600px;
      .item_block {
        padding: 0 0.7rem 1rem;

        .dispatch_details {
          margin-bottom: 0;
        }
      }

      p {
        font-weight: bolder;
      }

      .qty-input {
        max-width: 3rem;
        display: inline-block;
      }

      .button {
        width: 40%;
        color: $white !important;
      }

      .dispatched_order_code {
        text-decoration:underline;
        cursor:pointer;
      }

      label {
        color: black;
        font-size: 0.75rem;
        vertical-align: middle !important;
        margin-left: 0rem !important;
        margin-top: 0.5rem;
      }

      .left-icon {
        display: inline-block;
      }
      .right-message {
        width: 93%;
        display: inline-block;
        float: right;

        a {
          display: inline;
          color: $coral-red !important;
          text-decoration: underline;
          background-color: inherit;
        }
      }
      .designate-message, .move-message {
        margin: 0 0 4% -3%;
        display: inline-block;
        @media #{$small-only} {
          margin: 0 0 4% -2%;
        }
        @media #{$medium-only} {
          margin: 0 0 4% 2%;
        }
      }

      .error-box {
        border-color: $coral-red !important;
        background: $light-pitch !important;
        padding: 0.3rem;
        padding-left: 0.5rem;
        margin-top: 1.2rem;
        font-size: 0.72rem;

        i {
          margin-right: 0.2rem;
          color: $coral-red;
        }
      }

      .item_block.set_item_info {
        padding: 0 0.3rem;
      }

      .red-warning {
        color: $coral-red !important;
      }
    }
  }
}