  .publishing-tab {
  padding-left: 1rem;

  @mixin spaced-out($mul : 1) {
    margin-top: 1rem * $mul;
    margin-bottom: 1rem * $mul;
  }

  .row.action-row {
    .button {
      padding: 0.45rem 1rem;
      margin: 1rem;
      @media only screen and (max-width: 400px) {
        svg {
          display: none;
        }
      }
    }
  }

  .tab-title {
    @include spaced-out();
    font-size: 1.1rem;
    color: white;
  }

  .toggle-switch {
    @include spaced-out(1);
  }

  .count-row {
    @include spaced-out();
    font-size: 0.7rem;

    svg {
      margin-right: 0.3rem;
    }

    .bold {
      font-family: $header-font-family;
    }
  }

  .designate-options {
    > div {
      display: inline-block;
    }

    button {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    .options-arrow:focus {
      outline: none;
    }
  }

  .options_menu_list {
    margin-top: 3.2rem;
    margin-right: 4rem;
    background: black;

    div {
      display: block !important;
    }

    .option_menu a svg {
      margin-right: 5px;
    }
  }

  .package-actions-form .row.gc-orders-package-block .columns {
    border: black 2px solid;
    height: 4rem;
    background-color: #002352 !important;
  }

  .package-actions-form .row.gc-orders-package-block.tab-container {
    margin: 5rem auto -5rem auto;
    border: 2px solid black;
    border-bottom: 0;
  }

  .thumb {
    width: fit-content !important;
    height: inherit;
  }

  .tab-container .text-block {
    text-align: center;
  }

  .divided {
    padding: 1px 6px !important;

    .subtab {
      height: inherit;
      text-align: center;
      padding-top: 0.5rem;

      &:nth-child(1) {
        background-color: #051d3f;
      }

      &:nth-child(2) {
        background-color: #27436c;
      }

      &:nth-child(3) {
        background-color: #438bca;
      }
    }
  }
}
