.item_details_screen .publishing-tab {
  padding-left: 1rem;

  @mixin spaced-out($mul : 1) {
    margin-top: 1rem * $mul;
    margin-bottom: 1rem * $mul;
  }

  .row.action-row {
    .button {
      padding: 0.45rem 1rem;
      margin: 1rem;
      @media only screen and (max-width: 400px) {
        svg {
          display: none;
        }
      }
    }
    .designate-button {
      @media only screen and (max-width: 400px) {
        width: 92px;
      }
    }
  }

  .tab-title {
    @include spaced-out();
    font-size: 1.1rem;
    color: white;
  }

  .switch-label {
    @media #{$small-only} {
      svg {
        display: none;
      }
    }
  }

  .toggle-switch {
    @include spaced-out(1);
  }

  .count-row {
    @include spaced-out();
    font-size: 0.7rem;

    svg {
      margin-right: 0.3rem;
    }

    .bold {
      font-family: $header-font-family;
    }
  }

  .designate-options {
    > div {
      display: inline-block;
      top: 2px;
    }

    button {
      margin-left: 0 !important;
      margin-right: 0 !important;
      @media #{$small-only} {
        font-size: 12px !important;
        svg {
          display: none;
        }
      }
    }

    @media #{$small-only} {
      .options-arrow {
        left: 10px;
      }
    }

    .options-arrow:focus {
      outline: none;
    }

    button.button.options-arrow svg {
      display: inline-block !important;
    }
  }

  .options_menu_list {
    margin-top: 3rem;
    background: black;
    z-index: 1000;
    max-height: 15rem;
    overflow-y: scroll;

    @media #{$small-only} {
      margin-right: 10%;
    }

    @media #{$large-only} {
      margin-right: 50%;
    }

    div {
      display: block !important;
    }

    .option_menu {
      cursor: pointer;

      a svg {
        margin-right: 5px;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .package-actions-form {
    .row.gc-orders-package-block.tab-container {
      margin: 2rem auto -5rem auto;
      border: 2px solid black;
      border-bottom: 0;

      .columns {
        border: black 2px solid;
        height: 4rem;
        background-color: #002352 !important;
      }
    }
  }

  .thumb {
    width: fit-content !important;
    height: 6em;
  }

  .tab-container .text-block {
    text-align: center;
  }

  .divided {
    padding: 1px 6px !important;

    .subtab {
      height: inherit;
      text-align: center;
      padding-top: 0.5rem;

      &:nth-child(1) {
        background-color: #051d3f;
      }

      &:nth-child(2) {
        background-color: #27436c;
      }

      &:nth-child(3) {
        background-color: #438bca;
      }
    }
  }

  .item-action-comment {
    margin-top: 0.5rem !important;
    max-height: 4rem;

    .key {
      @media #{$small-only} {
        width: 33% !important;
      }
    }

    .value {
      width: 66% !important;
    }

    #item-action-comment {
      font-size: 1rem;
      height: 3.7rem !important;
    }
  }
}

.package-action-block .action-sub-block {
  &.left {
    padding: 1em;
    background-color: white;
    text-align: center;
    color: black;
  }

  &.main {
    padding: 1em;
    background-color: white;
    color: black;
  }

  .action-time {
    float: right;
    margin-right: 1rem;
  }

  .button-container {
    padding-top: 0;
  }
}


.package-summary-block-view {
  margin-top: 2rem !important;

  @media #{$medium-up} {
    margin: 0 auto;
    max-width: 747px;
    min-height: auto;
  }

  @media #{$small-only} {
    margin-left: 0.4rem;
  }
}
