.order_fixed_header {
  position: fixed;
  width: 100%;
  z-index: 1;

  .right-small {
    a {
      width: 100%;
      height: 100%;
      text-align: right;
      padding-right: 0.1rem;
      .order-option-ellipsis {
        padding: 0;
      }
    }
  }
}

.cancellation_reason {
  .title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    display: block;
    margin: 1.7rem 0;
  }

  textarea {
    border: 2px solid #949698;
  }

  .reason-count {
    margin-top: -1%;
    color: gray;
  }

  .button {
    margin-top: 6%;
  }

  .custom_radio_buttons {
    input[type='radio'] {
      display: inline-block;
      vertical-align: top;
    }

    label {
      display: inline-block;
      vertical-align: top;
      color: black;
      margin-top: -0.8%;
    }
  }
}

.beneficiary-inline-input {
  margin-bottom: 0 !important;
  color: #a3aab6 !important;
  width: 80% !important;
  display: inline-block !important;
  font-size: 0.8rem !important;
}

.beneficiary-title {
  width: 90% !important;
  margin-left: 0rem !important;
  @media #{$small-only} {
    margin-left: 0rem !important;
  }
}

.beneficiary-id-title {
  padding-top: 0.2rem;
}

.beneficiary-inline-select, .beneficiary-identity-select {
  select {
    margin: 0 !important;
    color: #a3aab6 !important;
    font-size: 0.8rem !important;
  }
}

.beneficiary-inline-select {
  select {
    padding-top: 0.2rem;
  }
}

.order-description-textarea {
  color: #a3aab6 !important;
  font-size: 0.8rem !important;
}

.order-description-textarea:disabled {
  background-color: transparent;
}

.beneficiary-identity-select {
  select {
    padding-top: 0rem;
  }
}

.data-rows {
  select {
    padding: 0 0.5rem;
    padding-left: 0;
    background: #002352;
    color: #a3aab6;
    height: inherit;
    border: none;
    margin: 0;
    &:active {
      border: 1px solid $tabbar-menu-icon-color !important;
    }
    font-size: 0.8rem;
    @media #{$small-only} {
      font-size: 0.7rem;
    }
  }
}

.order_tabs{
  margin: -0.5rem 0 1rem 0;
  .tabs-content {
    background-color: inherit;
    color: inherit;
  }
  .row{
    .tab_row {
      .tabs {
        margin-left: -0.7rem;
        margin-right: -0.7rem;
        border-bottom: 1px solid #334f75;
        @media #{$small-only} {
          i {
            font-size: 1.1rem !important;
          }
          div {
            font-size: 0.8rem !important;
          }
        }
        i {
          font-size: 1.75rem;
        }
        div {
          font-size: 0.9rem;
        }
        dd.active {
          border-bottom: 3px solid #334f75 ;
          a:after {
            border-width: 0px !important;
          }
        }
      }
    }
  }
}
.order-booking-tab {
  padding: 0 1em;

  .data-section {

    border-bottom: 1px solid white;
    max-width: 720px;
    margin: 0 auto;
    padding-bottom: 1rem;

    .sticky-note {
      width: 100%;
      min-height: 6rem;
      max-width: 600px;
      background-color: rgba(white, 0.1);
      margin: 1rem auto;
      position: relative;

      .call-to-action {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 6rem;
        z-index: 100;
        pointer-events: none;
      }

      .save-button {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 0.7rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        i {
          font-size: 1.3rem;
        }
      }

      .fade-out {
        @-webkit-keyframes fadeOut {
          0%   {opacity: 0;}
          15%  {opacity: 1;}
          50%  {opacity: 1;}
          100% {opacity: 0;}
        }
        animation: fadeOut 3s ease;
        opacity: 0;
      }

      textarea {
        margin: 0;
        max-width: 100%;
        padding: 1rem 0.5rem;
        background: transparent;
        border: none;
        color: white;
        padding-right: 1.5rem;
        height: 100%;
      }
    }

    .data-rows {
      select {
        padding: 0 0.5rem;
        padding-left: 0;
        background: #002352;
        color: white;
        height: 1.8rem;
        border: none;
        margin: 0;
        &:active {
          border: 1px solid $tabbar-menu-icon-color !important;
        }
        font-size: inherit;
        @media #{$small-only} {
          font-size: 0.7rem;
        }
      }

      .row {
        color: white;
        margin-bottom: 0.5rem;

        .text {
          line-height: 2rem;

          &.input {
            display: flex;
            i {
              margin-left: 0.3em;
              @media #{$small-only} {
                line-height: 2.5em;
              }
            }
          }
        }

        .button.light {
          width: 100%;
          padding: 0.325rem 0.05rem 0.3875rem 0.05rem;
          background-color: transparent;
          border: 1px solid white;
        }

        .text-prefix {
          line-height: 2rem;
          color: $gainsboro;
        }
      }

      .reschedule-popup .row {
        color: black;
        margin-bottom: 1em;
        select {
          background-color: white;
          color: rgba(0, 0, 0, 0.75);
        }
      }
    }

    .order_item_list_tabs{
      margin: -0.5rem 0 1rem 0;
      .tabs-content {
        background-color: inherit;
        color: inherit;
      }
      .row{
        .tab_row {
          .tabs {
            margin-left: -0.7rem !important;
            margin-right: -0.7rem !important;
            border-bottom: 1px solid #334f75 !important;
            @media #{$small-only} {
              div {
                font-size: 0.9rem !important;
              }
            }
            div {
              font-size: 1.1rem;
            }
            dd.active {
              border-bottom: 3px solid #334f75 ;
              a:after {
                border-width: 0px !important;
              }
            }
          }
        }
      }
    }
  }

  .checklist-section {

    max-width: 720px;
    margin: 0 auto;

    .title {
      margin: 2rem 0;
    }

    .checklist-rows {
      .row {
        margin: 1rem 0;

        .checkbox {
          width: 1.7rem;
          height: 1.7rem;
          background-color: white;
          margin: 0 auto;
          text-align: center;
          i {
            color: black;
            line-height: 1.7rem;
          }

          @media #{$small-only} {
            width: 1rem;
            height: 1rem;
            i{
              line-height: 1rem;
            }
          }
        }
      }
      .text {
        color: white;
      }
    }
  }
}


.options {
  font-size: 1.1rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.options-menu-title {
  font-size: 100%;
  text-decoration: underline;
  @media #{$small-only} {
    margin-top: 6%;
    font-size: 110%;
  }
}

.options_menu_list {
  width: 12rem;
  margin-right: 1.2rem;
  background-color: #002136;
  margin-top: 2.5rem;
  position: absolute;
  z-index: 100;

  @media #{$small-only} {
    width: 10.5rem;
    margin-left: -5rem;
  }

  &.option_margin {
    margin-top: 3%;
  }

  .menu-option-text {
    display: inline-block;
    width: 50%;
  }

  .checkbox-container {
    margin-left:10%;
  }

  input[type="checkbox"]{
    zoom: 1.2;
  }

  /* box-shadow style */
  -webkit-box-shadow: -8px 8px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 8px 25px 1px rgba(0,0,0,0.75);
  box-shadow: -8px 8px 25px 1px rgba(0,0,0,0.75);

  .option_menu {
    padding: 0 1rem;
    line-height: 2.8rem;
    color: white;

    i {
      margin: 0 0.3rem 0 0rem !important;
    }
  }

  .add_item_option {
    border-bottom: 0.1rem solid #334f75;
  }

  .merge_option {
    border-top: 0.1rem solid #334f75;
  }

  a {
    float: none;

    @media #{$small-only} {
      font-size: 0.85rem;
    }
  }
}

.order_page {
  @include flex-controls();

  padding-top: 2.8rem;

  .order-status {
    text-align: center;
    margin-bottom: 1.2rem;
    height: 2rem;
    background-color: #a67c52;
    padding: 0.3rem 0.8rem;
    color: $white;

    @media #{$small-only} {
      line-height: 1.6rem;
      padding: 0 0.8rem;
      height: 1.7rem;
      font-size: 0.8rem;
    }

    a {
      text-decoration: underline;
    }

    .time-details {
      display: inline;
      float: left;
    }

    .state {
      display: inline;
      float: right;
    }

    div {
      display: inline;
    }
  }

  .gc-submitted-color {
    background-color: #fe8329;
  }

  .gc-processing-color {
    background-color: #f34d4f;
  }

  .gc-cancelled-color {
    background-color: #000;
  }

  .gc-awaiting_dispatch-color {
    background-color: #6fab4a;
  }

  .gc-dispatching-color {
    background-color: #001C42;
  }

  .gc-closed-color {
    background-color: #428bca;
    height: 2.7rem !important;
    @media #{$small-only} {
      height: 2rem !important;
    }
  }

  .gc-order-status {
    text-align: center;
    margin-bottom: 1.2rem;
    padding: 0.3rem 0.8rem;
    color: $white;

    @media #{$small-only} {
      line-height: 1.6rem;
      padding: 0 0.8rem;
      font-size: 0.8rem;
    }

    .status {
      padding-top: 0.3rem;

      @media #{$small-only} {
        margin: -0.1rem 0 -0.1rem 0 !important
      }
    }

    button {
      width: 50%;
      padding: 0.1rem;
      height: 45px;
      background-color: inherit !important;
      border-color: white;
      margin-top: 0.3rem;

      @media #{$small-only} {
        margin: 0.4rem;
        width: 95% !important;
        height: 42px !important;
        font-size: 0.8rem;
      }

      @media #{$medium-only} {
        width: 90% !important;
      }

      @media #{$large-only} {
        width: 75% !important;
      }
    }

    a {
      text-decoration: underline;
    }

    .order-type{
      float: left;
    }
    .time-details {
      text-align: right !important;
      display: block;

      .cancel-reason {
        display: flex;

        .cancel-reason-title {
          margin-right: 2%;
          @media #{$small-only} {
            margin-right: 10%;
            width: 30%;
          }
        }

        .reason {
          overflow: hidden;
          white-space: nowrap;
          font-style: italic;
          text-overflow: ellipsis;

          @media #{$small-only} {
            margin-left: -9%;
          }
        }
      }
    }

    div {
      display: inline;
    }
  }

  .contact_details {
    .org_user_approval {
      background-color: $processing-state-color;
      margin: 2rem auto;
      padding: 1rem;
      width: 100%;
      max-width: 450px;
      min-height: 6rem;
      color: white;
      .approval_text {
        text-indent: -1rem;
        padding-left: 1rem;
      }
      .button.light {
        margin-top: 1rem;
        margin-bottom: 0;
        padding: 0.5rem 2rem;
        background-color: transparent;
        border: 1px solid white;
      }
    }

    .important {
      text-transform: uppercase;
      color: white;
      &.warn {
        color: #E25955;
      }
    }
  }

  .main_details {
    margin: -1rem 0.3rem;
    font-size: 0.8rem;
    border-bottom: 1px solid;

    .row {
      margin: 0.8rem 0;
    }

    .icons {
      text-align: center;
      font-size: 1.5rem;
      top: -0.2rem;
    }

    a {
      color: inherit !important;
    }

    .arrow-icon {
      float: right;
    }

    .state-count {
      margin: 0 3% 1% 0;
    }
  }

  .client_details {
    padding: 1rem;
    border-bottom: 1px solid;

    .row {
      padding: 0.2rem 0;
    }
  }

  .item_count {
    padding: 1rem;
    font-size: 1.2rem;

    @media #{$large-only} {
      text-align: center;
    }

    @media #{$small-only} {
      font-size: 0.8rem;
    }

    span {
      color: white;
      padding-right: 1rem;
    }
  }

  .add_item_button {
    padding: 0 0.7rem;
    .columns {
      &:first-child {
        padding-right: 0.1rem !important;
      }

      &:last-child {
        padding-left: 0.1rem !important;

        button {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;

          @media #{$small-only} {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
          }

          i {
            font-size: 1.5rem;
          }
        }
      }

    }
  }

  .drop-down {
    .columns {
      input.search-orders {
        padding: 5%;
        border: 1px solid #93A2B7;
        background: #002352;
        width: 80%;
        height: 40px;
        color: white;
        font-size: 115%;
        display: inline-block;

        @media #{$small-only} {
          height: 30px;
        }
      }

      >.cancel-search {
        display: inline-block;
        @media #{$small-only} {
          margin-left: 5%;
        }
        @media #{$medium-only} {
          margin-left: 5%;
        }
      }
    }

    .checkbox {
      position: relative;
      left: 0px;
      margin-left: 5%;
    }
  }

  .show_more {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
  }

  .other_details {
    .row {
      padding: 0.5rem;
    }

    .heading {
      color: white;
      font-size: 1.2rem;

      @media #{$small-only} {
        font-size: 0.8rem;
      }
    }
  }
}

.item_header {
  margin-top: 1.5rem !important;
}

.item_block {
  padding: 0 1.3rem 1rem;
  color: $white;

  a {
    display: block;
    color: $white !important;
  }

  @media #{$small-only} {
    font-size: 0.7rem;
  }

  .other_details {
    border: 1px solid #334F75;
    border-top: none;
    max-height: 4.5rem;
    overflow: hidden;
    background-color: #002353;
  }

  .name_details {
    float: left !important;
    padding-top: 0.3rem !important;
    padding-left: 0.5rem !important;

    .name {
      color: $white;
      padding-bottom: 0.3rem;
    }
  }

  .image {
    padding: 0;

    img {
      width: 5rem;
      height: auto;
    }
  }

  .set-link {
    margin: 0.8rem 0.6rem 0.8rem 0;
    padding: 0.5rem;
    border: white 1px solid;
    max-width: 3.5rem;
    float: right;
  }

  .item_details {
    padding: 0 !important;
    min-height: 5rem;
  }
}

.cancel_orders_package {
  background-color: $black !important;
}

.dispatch_details {
  color: $white;
  padding: 0.5rem;
  background-color: #438BCA;
  i {
    color: $white;
  }

  div {
    padding: 0;
    &:last-child {
      text-align: end;
    }
  }

  .location-name {
    text-align: center;
    word-break: break-all;
  }
}

.designated {
  background-color: #334f75;
}

.dispatched {
  background-color: #001C42;
}

.confirm_quantity {
  font-size: 0.75rem;
  margin-left: -4px;
  margin-top: 0.35rem;
  margin-bottom: 0.35rem;
}

.warnings {
  font-size: 0.75rem;
  color: $coral-red;
  margin-left: -4px;
  margin-top: 4px;

  .warning_text {
    margin: 0.5rem 0;
    display: inline-flex;
  }
}

.right-message {
  width: 100%;
  display: inline-block;
  float: right;
  margin-left: 5px;
}

.client_summary_description_error, .people_helped_error {
  background-color: red;
  display: none;
  padding: 2px;
  width: 100%;
}

.people_helped_error{
  width: 80%;
}

.description_error {
  @media #{$small-only} {
    margin-left: -3%;
    margin-top: -3%;
  }

  @media #{$medium-only} {
    margin-left: -1.4%;
    margin-top: -1.2%;
  }

  @media #{$large-only} {
    margin-top: -1%;
    margin-left: -1.6%;
  }
}

.order-options-container {
  display: grid;
  grid-template-columns: repeat(4, auto) auto;
  justify-content: space-evenly;
}
