.message-section{
  margin-bottom: 18px;
}
.message_details{
  font-size: .7rem;
  margin-bottom: .5rem;
}
.user_icon {
  color: dimgrey;
}
.my_message {
  background-color: #ffdcac;
  float: right;
  color: #000;
  width: 80%;
  padding: .8rem;
  margin-right: 2%;
  margin-bottom: .8rem;
  font-size: .9rem;
  position: relative;
  -webkit-border-radius: 10px;
}
.day_seperator{
  text-align: center;
  border-bottom: 1px solid #334f75;
  width: 100%;
  line-height: .1em;
  margin: 10px 0 20px;
  span{
    padding: 0 10px;
    color: #a3aab6;
    background: #002352;
  }
}
.received_message {
  background-color: #fff;
  color: #000;
  width: 80%;
  border-radius: .5rem;
  padding: .8rem;
  margin-left: 2%;
  margin-bottom: .8rem;
  font-size: .9rem;
  position: relative;
  -webkit-border-radius: 10px;
}
.message-form{
  padding-top: .1rem;
  padding-right: .2rem;
  z-index: 10;
}
.message-form .ui {
  padding-bottom: .1rem;
}
.message-base{
  background-color: #dee4eb;
  .button{
    padding: .53rem;
    border-radius: .2rem;
    line-height: 1.2rem;
    width: 5rem;
    margin: 0;
    display: inline-block;
    margin-top: -1px;
  }
}
.chat_note{
  color: white;
  margin-bottom: 0.5rem;
  i {
    color: #f34d4f;
  }
}


