.form-container {
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  .wrapper {
    margin-bottom: 0px;
  }
  ul > li:hover {
    background-color: inherit;
    cursor: default;
  }
}

.form-row{
  display: flex;
  justify-content: flex-end;
  padding: .5em;
  padding-left: 20%;
  padding-right: 20%;
  @media #{$small-only} {
    padding-left: 0;
    padding-right: 10%;
  }
}
