.organisations_search_section {
  .search-box {
    background: none;
  }

  .organisations_search {
    width: 70%;
    align-self: center;
    @media #{$small-only} {
      width: 100%;
    }

    $text-color: rgba(0, 0, 0, 0.75);
    $background-color: #fff;

    input {
      width: 95%;
      border-radius: 0px;
      background-color: $background-color !important;
      color: $text-color !important;
    }

    .fa-times-circle {
      font-size: 1rem;
      margin-bottom: 0.1rem;
    }
  }

  .organisation_search_result {
    padding-top: 6rem;
  }

  .organisation_orders {
    padding-top: 0;

    .search {
      margin-top: 0;
    }
  }
}

.orders_search_result.organisation_orders {
  padding-top: 0;

  ul.list-activity {
    margin-top: 0;
  }
}

.organisation-search-overlay .popup-overlay.open {
  overflow: inherit;
}
