.app-menu-list {
  .center {
    text-align: center;
  }

  .top-menu {
    display: flex;
  }

  .menu-section {
    background-color: #8091A9;
    padding: 2%;
    color: white;
    font-size: 120%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .menu-margin {
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .margin-top-none {
    margin-top: 0;
  }

  .margin-bottom-none {
    margin-bottom: 0;
  }

  .menu-option {
    text-align: center;
    font-size: 90%;

    @media #{$small-only} {
      font-size: 120%;
    }
  }

  .option-subtext {
    margin-top: 5%;
  }
}