.app-menu-list {
  .menu-option.columns:last-child {
    float: left;
  }

  .center {
    text-align: center;
  }

  .top-menu {
    display: flex;
  }

  .menu-section {
    background-color: $tabbar-menu-icon-color;
    padding: 1%;
    color: white;
    font-size: 90%;
    margin-top: 3%;
    margin-bottom: 3%;

    @media #{$small-only} {
      font-size: 120%;
      padding: 2%;
    }
  }

  .menu-svg {
    display: inline-block;
  }

  .menu-margin {
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .margin-top-none {
    margin-top: 0;
  }

  .margin-bottom-none {
    margin-bottom: 0;
  }

  .menu-list-anchor {
    &.disable {
      color: #7c8391 !important;
      pointer-events: none;
      cursor: not-allowed !important;
    }
  }

  .menu-option {
    text-align: center;
    font-size: 90%;

    @media #{$small-only} {
      font-size: 120%;
    }
  }

  .organisation-overlay {
    color: white;
  }

  .option-subtext {
    padding-top: 5%;
    display: inline-block;
  }
}
