.start_page {
  .center-text {
    text-align: center;
    margin-top: 12rem !important;
  }
}

.order_detail {
  text-align: center;
  height: 100px;
  font-size: 1rem;
  color:#DFE5EC;

  i {
    margin-top:25px;
  }
}

.priority_details {
  height: 50px;
  i {
    margin-top:10px !important;
  }
}

.processing { background-color:#ED4C4E; }
.awaiting_dispatch { background-color:#6FAB4A; }
.submitted { background-color:#438BCA; }
.dispatching { background-color:#021C41; }

.footer {
  background-color: $dark-blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  padding-top: 0.7rem;
  z-index: 100;

  .navigation_menus {
    position: relative;
    .small-block-grid-5 {
      li:not(:last-child) {
        width: 22%;
      }

      li:last-child {
        width: 10%;
      }
    }

    li {
      text-align: center;
      cursor: pointer;

      i {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}

.absolute_footer {
  position: absolute;
  bottom: auto;
}

em {
  font-style: inherit;
  background: #ff6;
  color: black;
}
