.start_page {
  .center-text {
    text-align: center;
    margin-top: 12rem !important;
  }
}

.order_detail {
  text-align: center;
  height: 4.5rem;
  font-size: 1.5vw;
  color:#DFE0E7;
  border: 1.5px solid #27436C;

  .order_title {
    padding-top: 5px;
    font-weight: 600;
  }

  i {
    margin-top:25px;
    font-size: 1.1rem;
    color: #FFFFFF;
  }

  span {
    font-size: 1.2rem;
    color: #FFFFFF;
  }

  @media #{$small-only} {
    font-size: 3vw;
  }

  @media screen and (max-width: 350px) {
    .order_count span, i {
      font-size: 5vw;
    }
  }
}
.recent_orders {
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 15px !important;
  margin-bottom: 1rem;
}

.counts {
  height:75vh;
  overflow-x:scroll;
}

.order_header {
  margin-bottom: 1rem !important;
  padding-top: 0;
  border: 2px solid #27436C;
  height: 4rem;
  line-height: 4rem;

  .order_code  {
    text-align: right;
  }
  .order_transport, .order_code {
    color: white;
    white-space: nowrap;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 0.5em;
  }

  .order_state {
    text-transform: capitalize;
    padding-right: 0;
    margin-top: -2px;
    margin-right: -2px;

    div {
      float: right;
    }

    .order_state_text {
      padding-right: 1em;
    }

    .order_state_icon {
      color: white;
      height: 100%;
      width: 3rem;
      text-align: center;
    }

    @media #{$large-only} {
      i{
        margin-left: 1.1em !important;
      }
    }

    @media #{$medium-only} {
      i{
        margin-left: 1.1em !important;
      }
    }
  }

}

.priority_details {
  height: 3rem;
  padding: 5%;

  i {
    margin-top:10px !important;
    color: #FFFFFF;
  }
}

.processing { background-color:#ED4C4E; }
.awaiting_dispatch { background-color:#6FAB4A; }
.submitted { background-color:#438BCA; }
.dispatching { background-color:#021C41; }

.footer {
  background-color: $dark-blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  padding-top: 0.7rem;
  z-index: 100;

  .navigation_menus {
    position: relative;
    .small-block-grid-5 {
      li:not(:last-child) {
        width: 22%;
      }

      li:last-child {
        width: 10%;
      }
    }

    li {
      text-align: center;
      cursor: pointer;

      i {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}

.absolute_footer {
  position: absolute;
  bottom: auto;
}

em {
  font-style: inherit;
  background: #ff6;
  color: black;
}
