.start_page {
  .center-text {
    text-align: center;
    margin-top: 12rem !important;
  }
}

.already_sent_pin{
  pointer-events: none;
  opacity: 0.4;
}

.order_detail {
  text-align: center;
  padding-bottom: 0.8rem;
  font-size: 1.1rem;
  color: #dfe0e7;
  border: 1.5px solid #27436c;

  .order_title {
    padding-top: 5px;
    font-weight: 600;
  }

  i {
    margin-top: 25px;
    font-size: 1.1rem;
    color: #ffffff;
  }

  span {
    font-size: 1.2rem;
    color: #ffffff;
  }

  @media #{$small-only} {
    font-size: 3vw;
  }

  @media screen and (max-width: 350px) {
    .order_count span,
    i {
      font-size: 5vw;
    }
  }
}

.recent_orders {
  padding: 0 3% 4%;
  margin-top: 15px !important;
  margin-bottom: 1rem;
}

.counts {
  height: 75vh;
  overflow-x: scroll;
}

.locationlabel{
  padding-left: 0.3rem !important;
}

.order_header {
  margin-bottom: 1rem !important;
  padding-top: 0;
  border: 2px solid #27436c;
  height: 4rem;
  line-height: 4rem;

  @media #{$small-only} {
    font-size: 0.62rem;
  }

  .order_code {
    text-align: right;
  }

  .order_transport,
  .order_code {
    color: white;
    white-space: nowrap;
    font-weight: 700;
    text-transform: capitalize;
    padding-left: 0.5em;
  }

  .order_user_name {
    white-space: nowrap;
    text-transform: capitalize;
  }

  .order_state {
    text-transform: capitalize;
    padding-right: 0;
    margin-top: -2px;
    margin-right: -2px;

    div {
      float: right;
    }

    .order_state_text {
      padding-right: 1em;
    }

    .order_state_icon {
      color: white;
      height: 100%;
      width: 3rem;
      text-align: center;
    }
  }
}

.priority_details {
  padding: 6%;

  i {
    margin-top: 10px !important;
    color: #ffffff;
  }
}

.processing {
  background-color: #ed4c4e;
}

.awaiting_dispatch {
  background-color: #6fab4a;
}

.submitted {
  background-color: #438bca;
}

.dispatching {
  background-color: #021c41;
}

.footer {
  background-color: $dark-blue;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  padding-top: 0.7rem;
  z-index: 100;
  @media #{$small-only} {
    height: 90px;
  }

  .navigation_menus {
    position: relative;

    .list li {
      margin-bottom: 0 !important;
    }

    .small-block-grid-5 {
      li:not(:last-child) {
        width: 22%;
      }

      li:last-child {
        width: 10%;
      }
    }

    li {
      text-align: center;
      cursor: pointer;

      i {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}

.absolute_footer {
  position: absolute;
  bottom: auto;
}

em {
  font-style: inherit;
  background: #ff6;
  color: black;
}

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.unread_length {
  @media #{$small-only} {
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.2rem;
  }

  line-height: 1.3rem;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.7rem;
  display: inline-block;
  color: $dark-blue;
  border-radius: 50%;
  background: $bright-red;
  margin-left: -1rem;
  position: absolute;
}
