.welcome-bar {
  margin-bottom: 0;
}

.no-permission {
  .login-msg {
    background: red;
    color: white;
    line-height: 180%;
    text-align: center;
    padding: 0.5rem 1rem;
  }

  .access_options {
    text-align: center;

    .info-text {
      font-style: italic;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .access-heading {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    input {
      width: 12rem;
      text-align: center;
      margin: 0 auto;
      letter-spacing: 1rem;
      padding: 1rem;
    }
  }
}
