.welcome-bar {
  margin-bottom: 0;

  .right-small {
    width: 4rem;

    @media #{$small-only} {
      width: 3rem;
    }
  }
}

.no-permission {
  .login-msg {
    background: $coral-red;
    color: white;
    line-height: 180%;
    text-align: center;
    padding: 0.5rem 1rem;
  }

  .access_options {
    text-align: center;

    .info-text {
      font-style: italic;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .access-option {
      margin-top: 2rem;
      margin-bottom: 1rem;

      button {
        width: 12rem;
        margin-bottom: 0;
      }
    }

    .or-text {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    input {
      width: 12rem;
      text-align: center;
      margin: 0 auto;
      letter-spacing: 1rem;
      padding: 1rem;
    }
  }
}
