.designate-link, .designate-form {

  &.disabled .modal-overlay.operation-confirmation #btn1 {
    pointer-events: none;
    opacity: 0.4;
    background-color: grey;
    border-color: grey;
  }

  .designate-quantity {
    @media #{$small-only} {
      p {
        font-size: 16px;
      }
    }
  }
  .modal-overlay.operation-confirmation {
    text-align: left;

    .reveal-modal {
      width: 70%;
      max-width: 600px;

      @media #{$small-only} {
        width: 100%;
      }

      .order_block {
        list-style-type: none;
        color: $light-text-color;
      }

      .gc-orders-package-block {
        margin: 1.5rem auto;
      }

      p {
        font-weight: bolder;
      }

      .qty-input {
        max-width: 3rem;
        display: inline-block;
      }

      .button {
        width: 40%;
        color: $white !important;
      }

      .dispatched_order_code {
        text-decoration:underline;
        cursor:pointer;
      }

      label {
        color: black;
        font-size: 0.75rem;
        vertical-align: middle !important;
        margin-left: 0rem !important;
        margin-top: 0.5rem;
      }

      .warnings {
        margin-bottom: 1rem;
        .left-icon {
          display: inline-block;
        }
        .right-message {
          width: 97%;
          display: inline-block;
          float: right;

          a {
            display: inline;
            color: $coral-red !important;
            text-decoration: underline;
            background-color: inherit;
          }
        }
      }
      .designate-message, .move-message {
        margin: 0 0 4% -3%;
        display: inline-block;
        @media #{$small-only} {
          margin: 0 0 4% -2%;
        }
        @media #{$medium-only} {
          margin: 0 0 4% 2%;
        }
      }

      .error-box {
        border-color: $coral-red !important;
        background: $light-pitch !important;
        padding: 0.3rem;
        padding-left: 0.5rem;
        margin-top: 1.2rem;
        font-size: 0.72rem;

        i {
          margin-right: 0.2rem;
          color: $coral-red;
        }
      }

      .red-warning {
        color: $coral-red !important;
      }
    }
  }
}
