.row.gc-orders-package-block, .row.package-action-block {

  width: 90vw;
  max-width: 40rem;
  margin-bottom: 1rem;

  @media #{$medium-only} {
    font-size: 0.8rem;
  }
  @media #{$large-only} {
    font-size: 0.8rem;
  }

  &.state-cancelled {
    .sub-block.left {
      background-color: black;
    }
  }

  &.small {
    width: 18rem;
    .sub-block {
      height: 3em;

      &.left .pkg-icon {
        display: none;
      }

      .line:not(:first-child) {
        display: none;
      }

      .order-icon {
        float: left;
      }
    }
  }

  .sub-block {
    height: 6em;
    color: white;

    .pkg-icon {
      margin-bottom: 1em;
    }

    .icon-splitter {
      display: flex;
      justify-content: space-between;
      height: 6em;
    }

    &.left{
      padding: 1em;
      background-color: #27436C;
      text-align: center;
      border-right: 0.2em solid #002352;

      &.invert {
        background: white;
        color: black;
      }
    }

    &.main {
      background-color: #051D3F;
      &.state-color {
        @include auto-order-state-color('background-color');
      }
      .row, .columns {
        height: 100%;
        &.no-padding {
          padding: 0;
        }
      }
      .text-block {
        padding: 1em;
        padding-left: 1.5em;

        .line {
          margin-bottom: 0.5rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis
        }
      }
      svg {
        margin-right: 0.4em;
      }

      .org-name {
        max-width: 20rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .thumbnail {
        width: 100%;
        height: 100%;
        background-color: #27436C;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.dispatch-form {
  .order-preview {
    .row.gc-orders-package-block {
      margin: 5rem auto 1rem auto;
    }
  }

  .form-container {
    width: 90vw;
    max-width: 40rem;
    min-height: 10rem;
    background-color: $light-grey;
    margin: 0 auto;
    color: black;
    padding: 1.5rem;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-width: 0 1.5rem 1.5rem 0;
      border-style: solid;
      border-color: #27436C #002352;
    }

    .title {
      font-size: 2rem;
      text-transform: capitalize;
      padding-bottom: 0.5rem;
      border-bottom: 3px solid black;
    }

    .infos {
      >.info-row {
        display: flex;
        padding-left: 1rem;
        margin-top: 1rem;
        line-height: 2.5rem;

        svg {
          margin-right: 0.5rem;
        }

        .warn-text {
          color: red;
        }

        .sub-text {
          width: 4rem;

          span {
            display: block;
            line-height: 1;
            text-align: center;
            padding-top: 0.2rem;

            @media #{$small-only} {
              line-height: 1.5;
            }

            &.link {
              text-decoration: underline;
            }
          }
        }

        .qty-input {
          max-width: 4rem;
          display: inline-block;
          background-color: white;
        }

        >div {
          width: 10rem;

          @media #{$small-only} {
            width: 7rem;
          }

          &.value {
            font-family: $header-font-family;

            &.clickable {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;

    .button {
      width: 10rem;

      &.light {
        border: 1px solid white;
        background-color: transparent;
      }
    }
  }
}
