.row.gc-orders-package-block {

  width: 90vw;
  max-width: 40rem;
  margin-bottom: 1rem;

  @media #{$medium-only} {
    font-size: 0.8rem;
  }
  @media #{$large-only} {
    font-size: 0.8rem;
  }

  &.state-cancelled {
    .sub-block.left {
      background-color: black;
    }
  }

  .sub-block {
    height: 6em;
    color: white;

    >div {
      margin-bottom: 1em;
    }

    &.left{
      padding: 1em;
      background-color: #27436C;
      text-align: center;
      border-right: 0.2em solid #002352;
    }

    &.main {
      background-color: #051D3F;
      &.state-color {
        @include auto-order-state-color('background-color');
      }
      .row, .columns {
        height: 100%;
        &.no-padding {
          padding: 0;
        }
      }
      .text-block {
        padding: 1em;
        padding-left: 1.5em;

        .line {
          margin-bottom: 0.5rem;
        }
      }
      svg {
        margin-right: 0.4em;
      }

      .org-name {
        max-width: 20rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .thumbnail {
        width: 100%;
        height: 100%;
        background-color: #27436C;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}