.cmp.search-overlay {
  .main-container {

    .webcam-camera:nth-child(1) video{
      width: 100% !important;
      height: 200% !important;
    }
    
    .webcam-camera:nth-child(1) .click-snapshot {
      float: right;
      margin: 10%;
      width: 30%;
      margin-top: 40%;
    }
    
    .search-container {
      display: flex;
      align-items: stretch;

      .close-overlay {
        flex-grow: 1;
        text-align: center;
      }

      .search-overlay {
        flex-grow: 8;
      }



      .scanner {
        height: 10px;
        flex-grow: 1;
      }

      .scan-button {
        @media #{$small-only} {
          float: left;
        }
        button {
          background: none;
          border: none;
          padding-bottom: 2rem;
          margin-bottom: 0;

          i {
            font-size: 1.8rem;
            margin-top: -0.4rem;
            color: #a3aab6;
            padding-right: 0.5rem;
          }
        }
      }

    }

    margin: 0 auto;
    max-width: 768px;

    .header-text {
      width: 100%;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 1rem;
    }

    .search-field {
      position: relative;
      padding: 0;
      background-color: $light-grey;
      z-index: 1000;

      .offer-search {
        @media #{$small-only} {
          margin-left: 3%;
        }
      }

      .input-holder {
        padding-right: 1rem;
        input {
          padding-left: 0.5rem;
          width: 97.5%;
          margin: 0.5rem;
          border-radius: 0.25rem;

          @media #{$small-only} {
            width: 95%;
          }
        }
      }

      .icon-holder {
        padding-top: 0.9rem;
        padding-left: 0.9rem;
        i {
          font-size: 1.2rem;
          cursor: pointer;
          color: $body-font-color;

          @media #{$small-only} {
            font-size: 1.2rem;
            padding: 0.5rem 0.5rem;
            top: 0rem;
          }
        }
      }

      .pinned-right-with-scanner{
        position: absolute;
        top: 1.4rem;
        right: 2rem;
        right: 2.5%;
        top: 0.93rem;
        color: $black;
        font-size: 1.2rem;
        cursor: pointer;

        @media #{$small-only} {
          font-size: 0.8rem;
          padding: 0.5rem 0.5rem;
          top: 0.8rem;
        }
      }

      .pinned-right {
        position: absolute;
        top: 1rem;
        right:1.6rem;
        color: $black;
        font-size: 1.2rem;

        @media #{$small-only} {
          font-size: 0.8rem;
          top:1.2rem;
        }
      }
    }

    .search_result {
      padding-top: 0px;
      height: 100vh;
      overflow-y: scroll;

      .row {
        &.underlined {
          border-bottom: 1px solid white;
          padding-bottom: 1rem;
          padding-top: 1rem;
        }
      }

      .offer-result {
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding-top: 3%;
        padding-bottom: 3%;
      }

      .search-offer-name {
        color: white;
      }

      .time {
        div {
          display: inline-block;
          margin-top: 0.6rem;
        }

        .package-counts {
          margin-left: 8%;
        }
      }
    }
  }
}

.search-overlay {
  .orders-search .search-field {
    position: fixed !important;
  }

  p.recently_used {
    text-align: center;
    margin-top: -9%;
    text-decoration: underline;
  }  

  .orders_search_result {
    .list.list-activity {
      margin-top: 4.5rem;
    }

    .infinite-list-container {
      overflow-y: unset !important;
    }
  }

  .order_body {
    border-bottom: 1px solid $mid-blue;
  }

  li.order_block {
    border: none;
  }

  .recent-orders {
    font-size: 0.7rem;
    text-align: center;
    margin-top: -1rem;
  }
}
