<div class="row">
  <div class="small-7 columns user_name">
    {{record.fullNameWithUnknown}}
  </div>
  <div class="small-3 columns ellipsis one-line-ellipsis">
    <span class="user-email">{{record.email}}</span>
  </div>
  <div class="small-2 columns text-align-right">
    <span class="user-mobile">{{record.shortMobile}}</span>
  </div>
</div>
<div class="row org_name">
  {{record.organisationsUsers.firstObject.organisation.nameEn}}
</div>
