<section class="left-small">
  {{#back-link fallbackRoute="orders" }}
    <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
    <div>{{t "back"}}</div>
  {{/back-link}}
</section>

<section class="middle tab-bar-section">
  <h1 class="title">{{model.code}}</h1>
</section>
