@import "./detail/location_tab";
@import "./detail/publishing_tab";
@import "./detail/item_actions_overlay";

.item_details_screen {
  .hidden {
    visibility: hidden;
  }

  .constraints-row {
    margin-top: 1rem;
  }

  .description_suggestion {
    color: #c0d2b6 !important;
    font-style: italic;
  }

  .description-language-container {
    display: flex;
    align-items: baseline;

    .disable {
      color: grey;
    }
  }

  .description-language-container > *:first-child {
    flex: 0.3;
  }

  .description-language-container > *:nth-child(3) > sup {
    display: inline-block;
    text-decoration: none;
  }

  .set_details {
    color: $white;
    padding: 0.5rem;
    font-size: 0.95rem;

    .set_name {
      font-weight: 900;
    }

    .set_type {
      font-size: 0.8rem;
    }
  }

  .item-details-body {
    margin-top: 0;

    // --- HEADER IMAGE
    #itemImage {
      position: relative;
      min-height: 4rem;

      .slick-slider {
        margin-bottom: 0;
      }

      // Black tranparent header
      .image-overlay {
        background-color: rgba(black, 0.6);
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 4rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        &.opaque {
          background-color: rgba(black, 0.95);
        }

        // ---- SET LIST TITLE AND TOGGLE SWITCH
        .set-header {
          .row {
            margin: 0;
            margin-bottom: 0.4rem;
          }

          color: white;
          font-size: 0.8rem;

          a {
            text-decoration: underline;
            text-underline-position: under;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }

          .editable-line {
            color: white;
          }

          .title, .subtitle {
            padding-left: 1rem;
          }
        }

        // ---- TABS
        .tab-container {
          $border-width: 2px;
          $border-color: rgb(190, 190, 190);
          display: flex;
          padding-left: 1rem;

          .horizontal-line {
            border-bottom: $border-width solid $border-color;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            z-index: 1;
          }

          .tab {
            z-index: 0;
            height: 3rem;
            width: 8rem;
            margin-right: 0.2rem;
            background: $dark-blue;
            border: $border-width solid transparent;
            border-bottom: $border-width solid $dark-blue;

            // Text
            color: white;
            line-height: 1rem;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            text-align: center;
            overflow: hidden;

            .icon-holder {
              font-size: 0.7rem;
              margin-top: 0.3rem;
              margin-bottom: 0.3rem;
            }

            .text-holder {
              white-space: nowrap;
              font-size: 1rem;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            &.large {
              width: 11rem;
            }

            &.selected {
              border-top: $border-width solid $border-color;
              border-left: $border-width solid $border-color;
              border-right: $border-width solid $border-color;
              z-index: 2;
            }

            &.divided {
              display: flex;
              padding: 0;

              .subtab {
                flex: 1 1 0;
                width: 33%;

                &:nth-child(1) {
                  background-color: #051d3f;
                }

                &:nth-child(2) {
                  background-color: #27436c;
                }

                &:nth-child(3) {
                  background-color: #438bca;
                }
              }
            }
          }
        }
      }
    }

    .main-content {
      padding: 1rem;
      padding-bottom: 3rem;
      min-height: 27rem;

      &.opaque {
        background-color: black;
      }

      .dispatch_details {
        margin-bottom: 0;
      }

      .set-list {
        padding-bottom: 5rem;


        .set-main-controls {
          padding: 0 1.5rem;
        }

        .package-summary-block {
          .set-actions {
            color: rgba(white, 0.7);
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;
            .action {
              cursor: pointer;
              &:hover {
                color: white;
              }
              i {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }

  .additional-selected-values {
    margin-bottom: 4rem;

    .input-field-container {
      padding-left: 0.7rem;
      margin-bottom: 15px;
      padding-right: 1.3125rem;
      float: none;
      display: inline-block;
      vertical-align: top;
      width: 49.3%;

      .columns {
        .form__control {

          input,
          select {
            padding: 0 1em !important;
            background: $light-blue-3 !important;
            font-size: 1rem !important;
            border: 1px solid $light-blue-3 !important;
            color: $white !important;
            height: 2.5rem !important;
            margin-bottom: 0;

            @media #{$small-only} {
              height: 2rem !important;
              font-size: 0.8rem !important;
            }
          }

          .inline-text-input {
            border: 1px solid #8091a9 !important;
          }

          .Searchable-select__options-list {
            li {
              background-color: #000;
              padding: 0.6em 1.2em;

              .Searchable-select__icon {
                display: none;
              }
            }
          }

          .Searchable-select__option:hover,
          .Searchable-select__option:focus {
            background-color: #454545;
            outline: 0;
          }

          .dropdown-wrapper {
            color: #fff;
            $dropdown-body: #000000;

            .Searchable-select__search{
              background-color: $dropdown-body;
            }

            .Searchable-select__menu {
              z-index: 110;
              background-color: $dropdown-body;
            }

            .Searchable-select__add-new {
              background: #454545;
            }

            .Searchable-select__label {
              min-height: 2rem;
              font-size: 1rem;
              border-radius: 0;
              background-image: url(../assets/images/dropdown_icon.png);
              background-repeat: no-repeat;
              background-size: 1.2rem;
              height: 2.5rem;
              border: none;
              background-color: $light-blue-3;

              @media #{$small-only} {
               font-size: unset;
               height: 2rem;
              }
            }

            .dropdown-icon {
              position: absolute;
              top: 50%;
              -o-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              transform: translateY(-50%);
              right: 7%;
            }
          }
        }
      }

      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }

  .click-action-zone {
    width: 4rem;
    height: 4rem;
    position: absolute;
    z-index: 99;

    .back_link {
      top: 0.5rem;
      margin-left: 0.5rem;
      font-size: 2rem;
      position: absolute;
      cursor: pointer;
      width: 1.8rem;
      height: 1.8rem;
      z-index: 1;

      i {
        position: absolute;
        font-weight: bolder;
        color: black;
        height: 1.2rem;
        width: 1.2rem;
        font-size: 2rem;
        line-height: 1.7rem;
        left: 0.1rem;
        bottom: 38%;

        @media #{$small-only} {
          margin: 0.35rem 0 0 -0.9rem;
          width: 2rem;
          height: 2rem;
          line-height: 1.2rem;
          left: 0.65rem;
          bottom: -4%;
        }
      }

      @media #{$small-only} {
        top: 0.5rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .no-padding {
    padding: 0;
  }

  .dispatch_details {
    font-weight: 900;
    margin-bottom: 1rem;

    @media #{$small-only} {
      font-size: 0.77rem;
      line-height: 0.8rem;
    }
  }

  .profile_container {
    min-height: 5rem;
    overflow: hidden;

    .profile {
      background-size: cover !important;
      width: 100%;
      height: 25rem;
      object-fit: cover;

      @media #{$small-only} {
        height: 22rem;
      }
    }
  }

  .thumb {
    width: 5rem;
    @media #{$small-only} {
      margin-left: 0.3rem;
      margin-top: 0.05rem;
      width: 4.4rem;
    }
  }

  .detail-section {
    .offer-tag-detail {
      display: flex;
      flex-wrap: wrap;
    }

    .offer-tags {
      display: flex;
    }
    padding-bottom: 0.6rem;

    @media #{$small-only} {
      font-size: 0.68rem !important;
    }

    .columns {
      padding: 0.2rem 0.5rem;
      @media #{$small-only} {
        padding: 0rem 0.2rem;
      }
    }

    span {
      color: $medium-blue;
    }

    .constraints {
      float: left;
      height: 3.3rem;

      @media #{$small-only} {
        height: 2.5rem
      }
    }

    .value {
      color: $white;
      font-size: 0.7rem !important;

      #expiry_date {
        background: #1a3964;
        width:100%;
        color: white;
        border: none;
        margin-top: -0.2rem !important;
        font-size: 1rem;
        height:40px;

        @media #{$small-only} {
          font-size: 0.7rem;
          height: 33px;
        }

      }

      .picker__select--month, .picker__select--year  {
        height: 2.1em;
      }
    }

    .expiry_date_cancel svg {
      margin-top: 1.5%;
      margin-left: 5px;
      @media #{$small-only} {
        margin-top: 1.8%;
      }
    }


    .item_options_component {
      z-index: 10;
      color: $white;

      .options-link-open {
        color: $medium-blue;
      }
    }
  }

  .no_image {
    text-align: center;
    padding: 5rem;
    font-size: 1rem;

    i {
      margin-right: 0.5rem;
    }
  }

  .footer {
    height: 80px;
    .extended-footer-menu {
      .click-out-overlay {
        position: absolute;
        width: 100%;
        opacity: 0;
        height: 100vh;
        bottom: 100%;
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: white;
      }

      .toggle-switch {
        margin-top: 0.5rem;
      }

      .row {
        min-height: 90px;

        .columns {
          min-height: 100%;
          padding-top: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          ul {
            li.menu.disabled {
              opacity: 0.5;
              pointer-events: none;
            }

            &.flex {
              display: flex;
              flex-wrap: wrap;
              justify-content: end;
              li {
                width: 25%;
                padding-bottom: 1rem;
              }
            }

            list-style: none;
            margin: 0;
            font-size: 1rem;
            i {
              font-size: 1.2rem;
            }
          }
        }
      }

      position: absolute;
      background: rgba(black, 0.9);
      width: 100%;
      min-height: 100%;
      bottom: calc(100% + .7rem);
      left: 0;
      display: none;

      &.visible {
        display: block;
      }
    }
  }
}

.default-content {
  font-size: 0.7rem;
  text-decoration: underline;
  color:$white !important;
  &:hover{
    cursor: pointer;
  }
}

.image-action-list {
  margin-left: 34rem;
  top: 0.5rem;
  position: absolute;

  @media only screen and (max-width: 780px) {
    margin-left: 0rem;
    right: 0rem;
  }

  >div {
    display: inline-block;
  }

  span {
    cursor: pointer;
  }
}

.no-avatar {
  @media #{$small-only} {
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }

  display: inline-block !important;
  margin-right: 1rem;
  line-height: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.2rem;

  display: block;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50%;
  background: $white;
  font-weight: bold;
  margin-top: 0.2rem;
  border: 1px solid $medium-blue;

  i {
    color: black;
  }
}

.stock_status {
  float: left;
}

.publish-form {
  #messageBox {
    padding: 1rem 1.5rem 0rem;
  }

  .publish_message {
    text-align: left;
    font-size: 0.9rem;
  }
}

.printer_message {
  background-color: $light-grey;
  color: black;
  height: initial;
  padding-bottom: inherit;
  min-height: 0rem;
  position: fixed;
  display: none;
  opacity: 1;
  z-index: 100;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #f46769;
  color: white;
  border-radius: 0.2rem;

  @media #{$small-only} {
    top: 1rem !important;
  }

  @media #{$medium-only} {
    width: 25rem;
  }
}

.printer_message_block {
  position: fixed;
  z-index: 1000;
  right: 11rem;
  top: 3rem;

  @media #{$small-only} {
    right: 9rem;
  }

  .printer_message {
    display: block;
    width: 8rem;
  }
}

.visible {
  display: block !important;
}

.scan-icon i {
  color: $tabbar-menu-icon-color;
  font-size: 1.5rem;
  padding: 0.15rem 0.4rem;
}

.donation-input-error {
  padding-left: 0.2rem;
  color: white;
  margin-left: -0.2rem;
  margin-top: -0.8rem;
  background-color: red;
}

.description-textarea {
  background-color: #002352;
  color: white;
  font-size: 0.7rem;
  border: none !important;
  border-style: none !important;
  padding: 0.3rem 1.5rem 0.3rem 0.4rem !important;
  box-shadow: none !important;
  margin: -0.3rem -0.3rem 0 -0.4rem;
  text-decoration: none !important;

}

.description-textarea-withbg {
  background-color:$light-blue-3 !important;
  color: white;
  font-size: 1rem;
  border: none !important;
  padding: 0.3rem 1.5rem 0.3rem 0.4rem ;
  box-shadow: none ;
  height:90px !important;
  text-decoration: none !important;

  @media #{$small-only} {
    height:80px !important;
    font-size: 0.7rem ;
    }

}

.donation-input-error,
.description-error {
  padding-left: 0.2rem;
  color: white;
  margin-left: -0.2rem;
  margin-top: -1rem;
  background-color: #f46769;
  width: 100%;

}

.description-error {
  margin: -1.3rem 0 0.4rem 0.1rem!important;
  width: 100% !important;
  display: block !important;
}


.form__control.form__control--error .description-error {
  display: block !important;
}

.numeric-input,
.inline-input,
.item-type {
  border: none !important;
  background-color: #002352 !important;
  padding: 0rem !important;
  color: white !important;
  border-style: none !important;
  box-shadow: none !important;
  height: inherit !important;
  font-size: 0.7rem !important;
}
 .item-type-withbg {
  border: none !important;
  background: $light-blue-3 !important;
  font-size: 1rem !important  ;
  padding: 0.5rem;
  color: white !important;
  box-shadow: none !important;
  height: 40px;
  margin-bottom: 1rem;

 @media #{$small-only} {
   height: 33px;
   font-size: 0.7rem !important;
  }
}

.quality {
  top: -0.3rem;
}

.select-quality,
.select-condition {
  display: inline-block !important;

  span.condition_text{
    margin-left: 0.4rem;
    padding-left: 0.5rem;
    position: absolute;
    color: $white !important;
    line-height: 2.4rem;

    @media #{$small-only} {
      line-height: 2rem;
      }

  }

  span.input_text {
    padding-left: 0.5rem;
    position: absolute;
    color: white !important;
    line-height: 2.4rem;

    @media #{$small-only} {
      line-height: 2rem;
      }
  }

  .constraints-saleable{
   select{
      background-color: #1a3964 !important;
      padding-right: 0.6rem;
      padding-left: 0.5rem;
      width: 120%;
      font-size: 1rem !important;
      margin-left: 0rem;
      height: 40px !important;

      @media #{$small-only} {
        height: 33px !important;
        font-size: 0.7rem !important;
      }
    }
  }

  .constraints-restrictions{
    select{
       background-color: #1a3964 !important;
       padding-left: 0.5rem;
       width: 120%;
       font-size: 1rem !important;
       margin-left: 0rem;
       height: 40px !important;

       @media #{$small-only} {
         margin-left: 1rem;
         height: 33px !important;
         font-size: 0.7rem !important;
       }
     }
   }

  .condition-margin{
    margin-left: 2rem;
    select {
      background-color: $light-blue-3 !important;
      margin-left: -1.5rem !important;
      height: 40px;
      padding-left: 6rem !important;
      font-size: 1rem !important;
      width: 140% !important;
      margin-top: 0.1rem;

      @media #{$small-only} {
        width: 130% !important;
        height: 33px;
        padding-left: 4.15rem !important;
        font-size: 0.7rem !important;
      }
    }

  }

  .grade-margin {
    margin-left: -2.5rem;
    width: 84%;
    select {
      background-color: $light-blue-3 !important;
      width: 145% !important;
      height: 40px;
      padding-left: 4rem !important;
      font-size: 1rem !important;
      margin-top: 0.1rem;

      @media #{$small-only} {
        width: 124% !important;
        height: 33px;
        padding-left: 3rem !important;
        font-size: 0.7rem !important;
      }
    }
  }

  select {
    @media all {
      border: none !important;
      background-image: none !important;
      background-color: #002352 !important;
      color: white !important;
      font-size: 0.7rem !important;
      padding: 0 0.1rem 0 0;
      border-radius: 0;
      height: 1.5rem;
      margin-left: 2.5rem;
    }
  }

  .select:after {
    top: 0.25rem;
    right: 0.4rem !important;

    @media #{$small-only} {
      width: 50% !important;
    }
  }

  .select:after {
    top: 0.25rem;
    right: 0.2rem !important;

    @media #{$small-only} {
      right: -0.4rem !important;
    }

    @media #{$medium-only} {
      right: 0.6rem !important;
    }
  }
}

.select-condition {
  margin-left: -0.5rem;
}

.condition-field {
  top: -0.3rem !important;
}

.donation-field {
  float: left !important;
  top: -0.1rem;
}

.weight-pieces {

  .weight,
  .pieces {
    float: left !important;
    top: 0.1rem;
  }
}

.numeric-inline-input,
.inline-text-input,
.item-description-textarea {
  border: 1px solid #8091a9 !important;
}

.inline-text-input-withbg {
  border: none !important;
  background: $light-blue-3 !important;
  font-size: 1rem !important  ;
  color: white !important;
  border-style: none !important;
  box-shadow: none !important;
  height: inherit !important;

  @media #{$small-only} {
   font-size: 0.7rem !important;
  }
}

.item-height,
.item-width,
.item-length {
  width: 60% !important;
  padding: 0.1rem !important;
  display: inline-block !important;

  @media #{$small-only} {
    width: 63% !important;
    margin-left: -0.13rem !important;
  }
}

.item-dimension-withbg {
  width:6rem !important;
  color: $white;
  height: 40px ;
  background-color:$light-blue-3 ;
  margin-bottom: 1rem;

  @media #{$small-only} {
    width: 93% !important;
    height: 33px ;
  }

}

.item-description-textarea {
  background-color: #002352 !important;
  color: white !important;
}

.donation-input {
  padding: 0.5rem !important;
}

.donation-scanner {
  padding-top: 0rem !important;
}



.warnings {
  font-size: 0.75rem;
  color: $coral-red;
  margin-left: -4px;
  margin-top: 4px;

  .warning_text {
    margin: 0.5rem 0;
    display: inline-flex;
  }
}

.non-clickable-set-move {
  pointer-events: none;
}

.save-btn{
  right: 45%;
  position: absolute;
  padding: 4px;
  @media only screen and (max-width: 780px) {
    right: 20%;
  }
}

.valuation-input{
  background: $light-blue-3 !important;
  margin-top: -0.3rem !important;
  width: 65% !important;
  font-size: 1rem !important;
  padding: 0.5rem !important;
  display: inline-block !important;
  @media #{$small-only} {
    width: 90% !important;
    font-size: 0.7rem !important;
    display: inline !important;
  }
}

.item_details_screen,
.history,
.items-messages-section {
  .footer {
    background-color: $black;
    height: 50px;

    @media #{$small-only} {
      border-radius: 0 0 35px 35px;
    }
  }
}

.navigation_menus .unread_message {
  margin-left: 0;
}
