{{partial 'items/detail/tabs/_sub_tabs' }}

<div class="row">
  <div class="small-11 columns add-item" align="center">
    <button>Add item to box</button>
  </div>
  <div class="small-1 columns" align="center">
    <button>S</button>
  </div>
</div>
