{{partial 'items/detail/tabs/_sub_tabs' }}

<div class="row">
  <div class="small-12 columns add-item" align="center">
    <button class="button expand" disabled={{disableBoxPalletItemAddition}}>Add item to {{storageTypeName}}</button>
  </div>
</div>
