<div style="background-color: #26446C;height: 5rem;">
  <div class="row" style="padding-left: 1.5rem;padding-top: 0.5rem;">
    <h1 class="title float-left">{{model.orderUserOrganisation.user.fullName}}</h1>
    <span class="right-small" style="margin-right: 3rem;margin-top: 0.8rem;">{{model.orderUserOrganisation.user.mobile}}</span>
  </div>

  <div style="padding-left: 1.2rem;">
    {{model.orderUserOrganisation.organisation.nameEn}}
  </div>
</div>
