<div class="user-block">
  <div class="row">
    <div class="small-12 columns user-information-block">
      {{model.orderUserOrganisation.user.fullName}}
      <span >{{model.orderUserOrganisation.user.mobile}}</span>
    </div>
    <div class="small-12 columns organisation-details">
      {{model.orderUserOrganisation.organisation.nameEn}}
    </div>
  </div>
</div>
