.stocktake-page.detail {
  $problem-red: #ff4353;
  $success-green: #6fab4a;
  $warning-yellow: #FFD43B;

  position: fixed;
  width: 100%;

  .small-only {
    display: none;
    @media #{$small-only} {
      display: block;
    }
  }

  .large-only {
    display: block;
    @media #{$small-only} {
      display: none;
    }
  }

  .title {
    white-space: nowrap;
  }

  .scanner-overlay {
    .scanner-preview {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      height: 30vh;
      display: none;
      position: relative;

      &.show {
        display: block;
      }
    }

    .scanner-error {
      background-color: $problem-red;
      color: white;
      width: 100%;
      height: 2rem;
      padding: 0.5rem;
      opacity: 0;
      transition: opacity 0.5s ease;

      &.active {
        opacity: 1;
      }
    }
  }

  .status-bar {
    color: white;
    text-align: center;
    line-height: 2rem;
    height: 2rem;
    font-family: $header-font-family;
    width: 100%;

    &.state-closed {
      background-color: #6fab4a;
    }

    &.state-cancelled {
      background-color: black;
    }

    &.state-open {
      display: none;
    }
  }

  .message-zone {
    height: 7vh;

    .top-message {
      margin: 1rem;

      &.error-message {
        color: $problem-red;
      }

      &.saving-message {
        visibility: hidden;
        &.show {
          visibility: visible;
        }
      }
    }
  }

  a {
    text-decoration: underline;
    text-underline-position: under;
  }

  .tabs-container {
    margin-bottom: 0;
    height: 12vh;
  }

  .buttons-container {
    padding-left: 1rem;
    height: 7vh;
    margin-bottom: 1rem;

    button {
      &.ellipsis {
        @include ellipsis();
      }
      height: 2.5rem;
    }

    .columns {
      text-align: center;
    }

    .checkbox-container {
      padding-top: 0.5rem;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      .checkbox {
        width: 1rem;
        height: 1rem;
        border: 1px solid gray;
        margin-left: 0.5rem;
        i { color: white }
      }
    }
    >* {
      margin-right: 1rem;
    }
  }

  .tips {
    padding-top: 3rem;
    opacity: 0.4;
    .tip {
      width: 100%;
      padding: 0.5rem 4rem;
      color: white;
      text-align: center;
      font-family: $header-font-family;
      font-size: 1.1rem;
    }
  }

  .revision-list {
    overflow-y: auto;
    height: 60vh;
    position: relative;

    .ember-collection--no-sidebars {
      & > div {
        overflow-y: auto !important;
        overflow-x: hidden !important;
      }
    }

    &.small {
      height: 20vh;
    }

    .revision{
      $row-height: 2rem;

      overflow-y: hidden;

      &.unsaved {
        input {
          border-color: yellow;
        }
      }

      &.locked {
        opacity: 0.4;
        pointer-events: none;
      }

      padding-bottom: 0.5rem;
      min-height: 3rem;
      border-bottom: 1px solid white;

      .details-block {
        -webkit-transition: transform .4s;
        transition: transform .4s;
        transform: translateX(100%);

        &.show {
          transform: translateX(0%);
        }

        i { color: white; }

        position: absolute;
        height: 80%;
        width: 100%;
        background-color: #ff4353;
        top: 0;
        left: 2.5rem;
        padding: 0.5rem;
        @media #{$small-only} {
          left: 2.5rem;
        }
      }

      .row, .flex{
        white-space: nowrap;
        &:first-child {
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
        }

        .package-image {
          flex-shrink: 0;
          background: black;
          height: $row-height;
          width: $row-height;
          img {
            object-fit: contain;
            height: $row-height;
            width: $row-height;
          }
        }

        .inventory-number {
          line-height: $row-height;
          white-space: nowrap;
          color: white;
          text-align: center;
          margin-right: 0.5rem;
          width: 5rem;
          @media #{$small-only} {
            width: 4rem;
          }
        }

        .expected-quantity {
          font-style: italic;
          font-size: 0.8rem;
          line-height: $row-height;
        }

        .display-package-code {
          line-height: $row-height;
          color: inherit;
          width: 2rem;
        }

        .offset-up {
          margin-top: -0.5rem;
        }

        .pill {

          &.good {
            background-color: $success-green;
          }
          &.bad {
            background-color: $problem-red;
          }
          i {
            color: white
          }
          i.good {
            color: $success-green;
          }
          i.bad {
            color: $problem-red;
          }
          i.warning {
            color: $warning-yellow;
          }

          height: $row-height;
          margin-left: 0.2rem;
          margin-right: 0.2rem;
          padding-top: 10px;
          text-align: center;
          line-height: $row-height;
          color: white;
          font-size: $row-height / 1.5;
        }

        .quantity-input-container {
          height: $row-height;
          line-height: $row-height;

          &.hide { visibility: hidden; }

          span {
            line-height: calc(#{$row-height} - 6px);
            margin-left: 0.2rem;
            margin-right: 0.2rem;
          }

          .quantity-input {
            input {
              width: $row-height + 1rem;
              height: calc(#{$row-height} - 4px);
              text-align: center;
              background: transparent;
              color: white;
            }
          }
        }
      }
    }
  }

  .processing-overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    pointer-events: none;
    font-size: 1rem;
  }
}
