<nav class="tab-bar">
  <section class="left-small">
    {{#link-to "search_organisation" classNames="back" }}
      <i class="back_icon" aria-hidden="true">{{fa-icon 'angle-left'}}</i>
      <div>{{t 'back'}}</div>
    {{/link-to}}
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title">
      {{t "organisation_title"}}
    </h1>
  </section>
</nav>
