{{partial 'organisations/nav_bar'}}

<section class="main-section">
  {{partial 'organisations/organisation_tabs'}}

  <div class="row search">
    {{#if displayResults}}
      {{#infinite-list height="75vh" loadMore=(action "loadOrders") as |orders| }}
        <ul class="list list-activity">
          {{#each orders as |order|}}
            {{#link-to 'orders.active_items' order.id href=false}}
              {{partial 'orders/order_block'}}
            {{/link-to}}
          {{/each}}
        </ul>
      {{/infinite-list}}
    {{/if}}
  </div>
</section>
