{{#init-foundation}}
  {{#unless isMobileApp}}
    {{smart-banner
      appIdAndroid = app_id
      appIdIOS = ios_app_id
      showAfterClose= bannerReopenDays
      showAfterVisit= bannerReopenDays
      iconUrl = bannerImage
      title = appTitle
      description = 'Crossroads'
    }}
  {{/unless}}
  {{outlet "notifications"}}
{{/init-foundation}}
{{outlet}}
<div class="printer_message_block"></div>

{{!-- Service-backed components --}}
{{#let-alias designationService as |s|}}
  {{goodcity/orders-search-overlay
    open=s.openOrderSearch
    onSelect=s.onOrderSelected
    searchProps=s.orderSearchProps
  }}
{{/let-alias}}
