<div class="loading-image-indicator hide_image_loading">
  <div>
    <i>{{fa-icon 'spinner' spin=true}}</i> {{loadingPercentage}}
    <div><a href="#" {{action "cancelUpload"}}>{{t "cancel"}}</a></div>
  </div>
</div>
