<div class="no-permission">
  <div class="row mt-5">
    <div class="columns small-7 welcome-text">Welcome!</div>
    <div class="columns small-4 logout-btn"{{action 'logMeOut'}}>Logout</div>
  </div>

  <div class="login-msg">
    You have successfully Logged in! However, you need permission to start working on stock.
  </div>

  <div class="manager-msg">
    Ask your manager to grant permissions and then try again
  </div>

  <button class="button expand try-again" {{action "tryAttemptedTransition"}} >
    Try again
  </button>
</div>